@tailwind preflight;

@tailwind components;

html, body, #__nuxt, #__layout
    @apply h-full bg-black

@font-face {
	font-family: 'lcars3';
	src: url('/lcars2.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

// .button
//     @apply bg-purple-dark text-white py-2 px-4 rounded border-b-2 border-purple-darker transition-lg
//     &:hover
//         @apply bg-purple border-purple-dark

.responsive
    max-width 100%
    height auto

@tailwind utilities;


.page-enter-active, .page-leave-active
    transition all .15s ease-out
.page-enter, .page-leave-active
    transform translateY(1%)
    opacity .5

.l-button
    @apply text-right px-1 flex flex-col justify-end items-end uppercase
    transition .5s all ease

.p-button
    @apply px-4 py-3 rounded-full

.fil5 {fill:#D78267} .bg5 { background-color: #D78267}
.fil9 {fill:#C32328} .bg9 { background-color: #C32328}
.fil12 {fill:#C32328} .bg12 { background-color: #C32328}
.fil6 {fill:#B5D2AF} .bg6 { background-color: #B5D2AF}
.fil11 {fill:#76A495} .bg11 { background-color: #76A495}
.fil14 {fill:#009EE0} .bg14 { background-color: #009EE0}
.fil13 {fill:#32964D} .bg13 { background-color: #32964D}
.fil15 {fill:#008CCF} .bg15 { background-color: #008CCF}
.fil0 {fill:black} .bg0 { background-color: black}
.fil7 {fill:#9FC0DF} .bg7 { background-color: #9FC0DF}
.fil8 {fill:#CC99CC} .bg8 { background-color: #CC99CC}
.fil3 {fill:#D37C7C} .bg3 { background-color: #D37C7C}
.fil1 {fill:#D8A570} .bg1 { background-color: #D8A570}
.fil10 {fill:#F1C315} .bg10 { background-color: #F1C315}
.fil4 {fill:#F8CF67} .bg4 { background-color: #F8CF67}
.fil23 {fill:#FF2B29} .bg23 { background-color: #FF2B29}
.fil22 {fill:#FF4429} .bg22 { background-color: #FF4429}
.fil21 {fill:#FF4F29} .bg21 { background-color: #FF4F29}
.fil20 {fill:#FF6029} .bg20 { background-color: #FF6029}
.fil19 {fill:#FF7429} .bg19 { background-color: #FF7429}
.fil18 {fill:#FF9629} .bg18 { background-color: #FF9629}
.fil17 {fill:#FF9F29} .bg17 { background-color: #FF9F29}
.fil16 {fill:#FFA729} .bg16 { background-color: #FFA729}
.fil2 {fill:#FFA929} .bg2 { background-color: #FFA929}

.button--active
    background-color red

menu
    margin 0
    padding 0

.flip-x
    transform scaleY(-1)
.leading-align
    line-height .85


@keyframes fade
    0%
        @apply opacity-0
    99%
        @apply opacity-0
    100%
        @apply opacity-100

@keyframes blink-red
    0%
        @apply fil15
    95%
        @apply fil15
    96%

        @apply bg-red
    100%
        @apply bg-red

.blink-red
    // duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name
    animation-name: blink-red
    animation-duration: 1s
    animation-iteration-count: infinite
