<template>
    <div class="lcars lcars-grid p-2">
        <header class="lcars-grid__header flex flex-row pb-.5 h-full">
            <svg
                class="block"
                style="width: calc(23.5% - 4px)"
                viewBox="0 0 380 109"
            >
                <path class="fil1" d="M0 109l231 0 0 -27c0,-14 14,-27 27,-27l203 0 0 -21 0 -34 -380 0c-46,0 -81,31 -81,82l0 27z"/>
            </svg>
            <div class="bg1 flex-grow mr-1" style="height: 50%"/>
            <div class="text-white text-5xl pt-.5 tracking-wider leading-align uppercase">Miezhaus</div>
            <div class="bg1 cap-right w-10 ml-1" style="height: 50%"/>
        </header>
        <nav class="lcars-grid__rooms-nav">
            <div v-for="room in rooms" :key="room.name" class="flex py-.5">
                <button
                    :class="room.active ? 'bg3' : 'bg10'" class="l-button text-4xl w-full"
                    @click="activateRoom(room)"
                >
                    {{ room.name }}
                </button>
            </div>
            <div class="flex py-.5">
                <button class="l-button text-4xl bg14 w-full" @click="toggleFullscreen">
                    Sekundärsystem
                </button>
            </div>
        </nav>

        <!-- SECTION 1 -->
        <footer class="lcars-grid__div1-footer flex flex-row py-.5">
            <div class="bg1" style="width: calc(5em - 7.5px); border-radius: 0 0 0 40%/50%"/>
            <div class="bg1 self-end flex-grow h-3 arc-inner arc-inner-top-left" style="flex-grow: .5"/>
            <div class="bg1 self-end flex-grow h-1 mx-1 mb-2" style="flex-grow: .35;"/>
            <div class="bg1 self-end flex-grow h-3"/>
            <div class="self-end text-white leading-align px-1">{{ Math.round(Math.random() * 9000) + 1000 }}</div>
            <div class="self-end bg1 cap-right  w-3 h-3"/>
        </footer>
        <menu class="lcars-grid__div1-controls ml-4">
            <div class="py-.5 flex"><button class="l-button flex-grow text-4xl bg9 lg:block hidden">Global</button></div>
            <div class="py-.5 flex"><button class="l-button flex-grow text-4xl bg8 lg:block hidden">Home</button></div>
            <div class="py-.5 flex"><button class="l-button flex-grow text-lg bg13">Logo Online</button></div>
            <div class="py-.5 flex"><button class="l-button flex-grow text-lg bg13">HM Online</button></div>
        </menu>
        <section class="lcars-grid__div1-content text-white overflow-hidden">
            <TemperatureDashboard />
        </section>

        <!-- SECTION 2 -->
        <header class="lcars-grid__div2-header flex flex-row py-.5">
            <div class="bg1" style="width: calc(5em - 7.5px); border-radius: 40%/50% 0 0 0"/>
            <div class="bg1 flex-grow h-3 arc-inner arc-inner-left-bottom " style="flex-grow: .5"/>
            <div class="bg1 flex-grow h-1 mx-1 mt-2" style="flex-grow: .35;"/>
            <div class="bg1 flex-grow h-3"/>
            <div class="text-white leading-align px-1">{{ Math.round(Math.random() * 9000) + 1000 }}</div>
            <div class="bg1 cap-right  w-3 h-3"/>
        </header>
        <menu class="lcars-grid__div2-controls ml-4">
            <div class="py-.5 flex h-full"><button class="l-button flex-grow text-4xl bg9">Change</button></div>
        </menu>
        <section class="lcars-grid__div2-content text-white">
            <component :is="sections[1]" />
        </section>

        <!-- SECTION 3 -->
        <!-- <header class="lcars-grid__div3-header flex flex-row py-.5 mr-4">
            <div class="bg1" style="width: calc(22% - 5px); border-radius: 40%/50% 0 0 0"/>
            <div class="bg1 flex-grow h-3 arc-inner arc-inner-left-bottom " style="flex-grow: .5"/>
            <div class="bg1 flex-grow h-1 mx-1 mt-2" style="flex-grow: .35;"/>
            <div class="bg1 flex-grow h-3"/>
            <div class="text-white leading-align px-1">MIAU</div>
            <div class="bg1 cap-right  w-3 h-3"/>
        </header>
        <section class="lcars-grid__div3-content text-white">
            <div class="flex-col h-full">
                <div class="h-1/2 flex justify-center items-center">
                    <ColorPicker v-bind="color" style="transform: scale(.8)" />
                </div>
                <div class="h-1/2">
                    <button class="l-button p-button text-4xl w-full my-2 rounded-full bg-red-dark">100</button>
                    <button class="l-button p-button text-4xl w-full my-2 rounded-full bg-green-dark">100</button>
                    <button class="l-button p-button text-4xl w-full my-2 rounded-full bg-blue-dark">100</button>
                    <button class="l-button p-button text-4xl w-full my-2 rounded-full bg-white">100</button>
                </div>
            </div>
        </section>
        <section class="lcars-grid__div3-controls">
            <div v-for="i in 7" :key="i" class="py-.5 flex"><button :class="`bg${i}`" class="l-button flex-grow text-4xl">Prog {{ i }}</button></div>
        </section> -->

        <footer class="lcars-grid__footer flex flex-row h-full pt-.5">
            <div class="bg1" style="width: calc(14.1%); border-radius: 0% 0% 40% 40% / 0% 0% 0% 100%;"/>
            <div class="self-end bg1 flex-grow mr-1 arc-inner arc-inner-top-left" style="height: 50%"/>
            <div class="self-end text-white text-5xl pt-.5 tracking-wider leading-align uppercase">Miezhaus</div>
            <div class="self-end bg1 cap-right w-10 ml-1" style="height: 50%"/>
        </footer>
    </div>
</template>

<script>
import WohnzimmerControls from '~/components/rooms/WohnzimmerControls'
import SchlafzimmerControls from '~/components/rooms/SchlafzimmerControls'
import TemperatureDashboard from '~/components/TemperatureDashboard'
import ColorPicker from '@radial-color-picker/vue-color-picker'


export default {
    components: { WohnzimmerControls, SchlafzimmerControls, ColorPicker, TemperatureDashboard },
    data: () => ({
        color: null,
        sections: [
            'WohnzimmerControls',
            'WohnzimmerControls',
            'WohnzimmerControls',
        ],
        rooms: [
            {
                name: 'Primärhabitat',
                sections: ['WohnzimmerControls', 'WohnzimmerControls', 'WohnzimmerControls'],
                active: true,
            },
            {
                name: 'Schlafzimmer',
                sections: ['WohnzimmerControls', 'SchlafzimmerControls', 'WohnzimmerControls']
            },
            {
                name: 'Badezimmer',
                sections: ['WohnzimmerControls', 'WohnzimmerControls', 'WohnzimmerControls']
            },
            {
                name: 'Arbeitszimmer',
                sections: ['WohnzimmerControls', 'WohnzimmerControls', 'WohnzimmerControls']
            },
            {
                name: 'Chillout',
                sections: ['WohnzimmerControls', 'WohnzimmerControls', 'WohnzimmerControls']
            },
            {
                name: 'Musikzimmer',
                sections: ['WohnzimmerControls', 'WohnzimmerControls', 'WohnzimmerControls']
            },
            {
                name: 'Küche',
                sections: ['WohnzimmerControls', 'WohnzimmerControls', 'WohnzimmerControls']
            },
            // 'Küche',
        ],
        activeButton: 'Wohnzimmer',
    }),
    methods: {
        toggleFullscreen() {
            document.documentElement.requestFullscreen();
        },
        playSound() {
            const getSound = sound => require(`~/assets/sound/${sound}.wav`)
            return (new Audio(getSound([203, 205][Math.random() * 2 | 0]))).play()
        },
        activateRoom(room) {
            this.rooms = this.rooms.map(room => {
                room.active = false
                return room
            })
            room.active = true
            this.sections[1] = room.sections[1]
            this.playSound()
        }
    }
}
</script>

<style lang="stylus">
@import '~@radial-color-picker/vue-color-picker/dist/vue-color-picker.min.css'

.cap
    &-right
        border-radius  0 100% 100% 0
    &-left
        border-radius  100% 0 0 100%

.arc-inner
    position relative
    &::after, &::before
        content ""
        width 1em
        height 1em
        position absolute
        background-color inherit
    &-left-bottom
        &::before
            top 100%
            left 0
            // background-color
        &::after
            background-color black
            top 100%
            left 0
            border-radius 100% 0 0 0
    &-top-left
        &::before
            bottom 100%
            left 0
            // background-color
        &::after
            background-color black
            bottom 100%
            left 0
            border-radius 0 0 0 100%

.lcars-grid__rooms-nav
    display grid
    grid-template-rows repeat(8, 1fr)

.lcars-grid__div1-controls
    display grid
    grid-template-rows 2fr 1fr .5fr .5fr

.lcars-grid__div3-controls
    display grid
    grid-template-rows 2fr 2fr 2fr 2fr 1fr 1fr

.lcars-grid
    display grid
    grid-column-gap 4px


@media (min-width: 1200px)
    .lcars
        // border 1px solid white
        // height 100vh
        // width 100vw
        // height 100vh
        width calc(16px * 80)
        height calc(9px * 80)
    .lcars-grid
        grid-template-columns 2fr 1fr 6fr 1fr 4fr
        grid-template-rows 2fr 2fr 6fr 2fr 2fr 4fr 2fr
    .lcars-grid__header
        grid-area 1 / 1 / 2 / 6
    .lcars-grid__footer
        grid-area 7 / 1 / 8 / 6
    .lcars-grid__rooms-nav
        grid-area 2 / 1 / 7 / 2
    .lcars-grid__div1-footer
        grid-area 4 / 2 / 5 / 6
        @apply mx-4
    .lcars-grid__div1-controls
        grid-area 2 / 2 / 4 / 3
    .lcars-grid__div1-content
        grid-area 2 / 3 / 4 / 6
        @apply mr-4
    // .lcars-grid__div3-header
    //     grid-area 2 / 4 / 3 / 6
    // .lcars-grid__div3-content
    //     grid-area 2 / 5 / 7 / 6
    // .lcars-grid__div3-controls
    //     grid-area 3 / 4 / 7 / 5
    .lcars-grid__div2-header
        @apply mx-4
        grid-area 5 / 2 / 6 / 6
    .lcars-grid__div2-controls
        grid-area 6 / 2 / 7 / 3
    .lcars-grid__div2-content
        grid-area 5 / 3 / 7 / 6
        @apply mr-4
        padding-top 1.5em

@media (max-width: 1200px)
    .lcars
        @apply w-full h-full
    .lcars-grid
        grid-template-columns 2fr 8fr
        grid-template-rows 4fr 2fr 2fr 10fr
    .lcars-grid__header
        display none
    .lcars-grid__footer
        display none
    .lcars-grid__rooms-nav
        grid-area 4 / 1 / 7 / 2
    .lcars-grid__div1-footer
        grid-area 2 / 1 / 2 / 7
        @apply mx-4
    .lcars-grid__div1-controls
        grid-area 1 / 1 / 1 / 2
        width: 75%
    .lcars-grid__div1-content
        grid-area 1 / 2 / 3 / 2
        @apply mr-4 border border-red
    .lcars-grid__div2-header
        @apply mx-4
        grid-area 3 / 1 / 3 / 7
    .lcars-grid__div2-controls
        grid-area 6 / 2 / 7 / 3
    .lcars-grid__div2-content
        grid-area 3 / 2 / 7 / 6
        @apply mr-4
        padding-top 1.5em

.left-arm-width
    width 61%
.lcars
    font-family lcars3

</style>
