<template>
    <div class="h-full">

        <!-- <img src="~/assets/img/Bogen_01.svg" alt=""> -->
        <!-- <button class="button" @click="toggle">Licht schalten</button>

        <div class="flex" style="height: 10%">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427.777 100" style="width: 25%">
                <path class="fil2" d="M0 108l231 0 0 -27c0,-14 14,-27 27,-27l204 0 0 -21 0 -33 -381 0c-46,0 -81,30 -81,81l0 27z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 427.777 100" style="width: 75%">
                <rect width="1115.13" height="54.4984" class="fil3"/>
            </svg>
        </div> -->


        <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1"
        viewBox="0 0 1920 1080">
            <g id="Ebene_x0020_1">
                <path class="fil2" d="M20 128l231 0 0 -27c0,-14 14,-27 27,-27l204 0 0 -21 0 -33 -381 0c-46,0 -81,30 -81,81l0 27z"/>
                <path class="fil3" d="M278 231l125 0 0 -49c0,-9 9,-17 17,-17l97 0 0 -23 0 -7 -188 0c-29,0 -51,19 -51,51l0 45z"/>
                <path class="fil3" d="M1248 188l80 0 0 -12c1,-9 9,-11 22,-11l137 0 0 -23 0 -7 -188 0c-13,0 -51,3 -51,46l0 7z"/>
                <path class="fil3" d="M1248 893l80 0 0 12c1,9 9,11 22,11l137 0 0 23 0 7 -188 0c-13,0 -51,-3 -51,-46l0 -7z"/>
                <path class="fil3" d="M278 741l125 0 0 -49c0,-9 9,-17 17,-17l97 0 0 -23 0 -7 -188 0c-29,0 -51,19 -51,51l0 45z"/>
                <path class="fil2" d="M20 952l231 0 0 27c0,14 14,27 27,27l204 0 0 21 0 34 -381 0c-46,0 -81,-31 -81,-82l0 -27z"/>
                <rect class="fil3" x="487" y="20" width="1115.13" height="54.4984"/>
                <rect class="fil2" x="482" y="1006" width="996.498" height="54.4984"/>
                <path class="fil3" d="M1846 20l27 0c15,0 28,12 28,27l0 0c0,15 -13,27 -28,27l-27 0 0 -54z"/>
                <path class="fil3" d="M1846 1061l27 0c15,0 28,-12 28,-27l0 0c0,-15 -13,-28 -28,-28l-27 0 0 55z"/>
                <path class="fil3" d="M1830 689l9 0c22,0 41,-19 41,-41l0 0c0,-23 -19,-41 -41,-41l-9 0 0 82z"/>
                <path class="fil3" d="M1830 788l9 0c22,0 41,-19 41,-41l0 0c0,-23 -19,-41 -41,-41l-9 0 0 82z"/>
                <path class="fil3" d="M1830 887l9 0c22,0 41,-18 41,-41l0 0c0,-22 -19,-41 -41,-41l-9 0 0 82z"/>
                <path class="fil2" d="M1196 165l7 0c8,0 15,-7 15,-15l0 0c0,-9 -7,-16 -15,-16l-7 0 0 31z"/>
                <path class="fil2" d="M1879 165l6 0c9,0 16,-7 16,-15l0 0c0,-9 -7,-16 -16,-16l-6 0 0 31z"/>
                <path class="fil2" d="M1879 915l6 0c9,0 16,7 16,15l0 0c0,9 -7,16 -16,16l-6 0 0 -31z"/>
                <path class="fil2" d="M1196 675l7 0c8,0 15,-7 15,-15l0 0c0,-9 -7,-16 -15,-16l-7 0 0 31z"/>
                <g id="_347985080">
                    <circle class="fil18 str0" cx="1550" cy="380" r="193"/>
                </g>
                <!-- RED START -->
                <path class="fil4" d="M1528 689l-130 0c-23,0 -41,-19 -41,-41l0 0c0,-23 18,-41 41,-41l130 0 0 82z" @click="setColor('r', 0)"/>
                <!-- RED END -->
                <path class="fil3" d="M1552 689l9 0c22,0 41,-19 41,-41l0 0c0,-23 -19,-41 -41,-41l-9 0 0 82z" @click="setColor('r', 250)"/>
                <!-- GREEN START -->
                <path class="fil6" d="M1528 788l-130 0c-23,0 -41,-19 -41,-41l0 0c0,-23 18,-41 41,-41l130 0 0 82z" @click="setColor('g', 0)"/>
                <!-- GREEN END -->
                <path class="fil3" d="M1552 788l9 0c22,0 41,-19 41,-41l0 0c0,-23 -19,-41 -41,-41l-9 0 0 82z" @click="setColor('g', 250)"/>
                <!-- BLUE START -->
                <path class="fil8" d="M1528 887l-130 0c-23,0 -41,-18 -41,-41l0 0c0,-22 18,-41 41,-41l130 0 0 82z" @click="setColor('b', 0)"/>
                <!-- BLUE END -->
                <path class="fil3" d="M1552 887l9 0c22,0 41,-18 41,-41l0 0c0,-22 -19,-41 -41,-41l-9 0 0 82z" @click="setColor('b', 250)"/>

                <path class="fil5" d="M1806 689l-130 0c-23,0 -41,-19 -41,-41l0 0c0,-23 18,-41 41,-41l130 0 0 82z"/>
                <path class="fil7" d="M1806 788l-130 0c-23,0 -41,-19 -41,-41l0 0c0,-23 18,-41 41,-41l130 0 0 82z"/>
                <path class="fil3" d="M1806 887l-130 0c-23,0 -41,-18 -41,-41l0 0c0,-22 18,-41 41,-41l130 0 0 82z"/>
                <polygon class="fil4" points="1547,689 1534,689 1534,607 1547,607 "/>
                <polygon class="fil5" points="1825,689 1812,689 1812,607 1825,607 "/>
                <polygon class="fil6" points="1547,788 1534,788 1534,706 1547,706 "/>
                <polygon class="fil7" points="1825,788 1812,788 1812,706 1825,706 "/>
                <polygon class="fil8" points="1547,887 1534,887 1534,805 1547,805 "/>
                <polygon class="fil3" points="1825,887 1812,887 1812,805 1825,805 "/>
                <!-- buttons -->
                <!-- 102 Y difference -->
                <!-- <rect v-for="(room, index) in rooms" :key="room.name"  /> -->
                <rect :class="{active: rooms[1].selected, 'active-options' :rooms[1].options}" class="fil9" x="20" y="135" width="230.502" height="95.9272" @click="changeRoom('Küche')" @dblclick="options('Küche')"/>
                <rect :class="{active: rooms[0].selected, 'active-options' :rooms[0].options}" class="fil9" x="20" y="237" width="230.502" height="95.9272" @click="changeRoom('Wohnzimmer')" @dblclick="options('Wohnzimmer')"/>
                <rect :class="{active: rooms[2].selected, 'active-options' :rooms[2].options}" class="fil9" x="20" y="339" width="230.502" height="95.9272" @click="changeRoom('Schlafzimmer')" @dblclick="options('Schlafzimmer')"/>
                <rect :class="{active: rooms[3].selected, 'active-options' :rooms[3].options}" class="fil9" x="20" y="441" width="230.502" height="95.9272" @click="changeRoom('Treppen')" @dblclick="options('Treppen')"/>
                <rect :class="{active: rooms[4].selected, 'active-options' :rooms[4].options}" class="fil9" x="20" y="543" width="230.502" height="95.9272" @click="changeRoom('Badezimmer')" @dblclick="options('Badezimmer')"/>
                <rect :class="{active: rooms[5].selected, 'active-options' :rooms[5].options}" class="fil9" x="20" y="645" width="230.502" height="95.9272" @click="changeRoom('Chillout')" @dblclick="options('Chillout')"/>
                <rect :class="{active: rooms[6].selected, 'active-options' :rooms[6].options}" class="fil9" x="20" y="748" width="230.502" height="95.9272" @click="changeRoom('Musikzimmer')" @dblclick="options('Musikzimmer')"/>
                <g>
                    <rect class="fil11" x="20" y="850" width="230.502" height="95.9272"/>
                    <rect class="fil3" x="1248" y="335" width="80.3433" height="131.585"/>
                    <rect class="fil2" x="1248" y="195" width="80.3433" height="131.585"/>
                    <rect class="fil3" x="1248" y="475" width="80.3433" height="131.585"/>
                    <rect class="fil2" x="1248" y="615" width="80.3433" height="131.585"/>
                    <rect class="fil11" x="1248" y="755" width="80.3433" height="131.585"/>
                    <rect class="fil12" x="278" y="285" width="124" height="150"/>
                    <rect class="fil10" x="278" y="748" width="124" height="198"/>
                    <rect class="fil13" x="278" y="237" width="124.342" height="41.647"/>
                    <polygon class="fil2" points="1041,135 527,135 527,165 1041,165 "/>
                    <polygon class="fil2" points="1721,135 1497,135 1497,165 1721,165 "/>
                    <polygon class="fil2" points="1868,945 1497,945 1497,915 1868,915 "/>
                    <polygon class="fil2" points="1038,645 527,645 527,675 1038,675 "/>
                    <path class="fil14" d="M88 221c0,-1 0,-3 0,-5 0,-2 -1,-4 -1,-7l-2 -19 5 0 1 11c0,2 0,3 0,5 0,2 0,5 0,7l1 0c0,-3 0,-6 0,-8 0,-2 0,-3 0,-3l1 -12 5 0 1 13c0,0 0,2 0,3 1,2 1,5 1,7l0 0c0,-3 0,-6 0,-7 0,-2 0,-4 1,-5l1 -11 3 0 -3 31 -5 0 -1 -19c0,0 0,-1 0,-2 0,0 0,-1 0,-2l0 -1 -1 0c0,3 0,6 0,10 -1,5 -1,9 -1,14l-6 0z"/>
                    <path id="1" class="fil14" d="M112 195l0 21c0,1 0,1 0,2 1,0 1,0 1,0 1,0 1,0 1,0 1,-1 1,-1 1,-2l0 -21c0,-1 0,-1 -1,-2 0,0 0,0 -1,0 0,0 0,0 -1,0 0,1 0,1 0,2zm-5 0c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 20c0,2 0,4 -1,5 -1,1 -3,1 -5,1 -2,0 -3,0 -4,-1 -1,-1 -2,-3 -2,-5l0 -20z"/>
                    <polygon id="2" class="fil14" points="122,221 122,190 127,190 127,202 129,202 129,190 134,190 134,221 129,221 129,206 127,206 127,221 "/>
                    <path id="3" class="fil14" d="M136 221l0 -31 7 0 2 13c0,2 1,5 1,7 0,2 1,5 1,7l0 0c0,-2 0,-4 0,-6 0,-2 0,-4 0,-4l0 -17 4 0 0 31 -7 0 -3 -17c0,-3 0,-5 0,-7 -1,-1 -1,-2 -1,-3l0 0c0,2 0,4 0,5 0,1 0,2 0,3l0 19 -4 0z"/>
                    <polygon id="4" class="fil14" points="153,221 153,218 158,194 153,194 153,190 163,190 163,194 158,217 163,217 163,221 "/>
                    <polygon id="5" class="fil14" points="170,221 165,221 165,190 170,190 "/>
                    <path id="6" class="fil14" d="M172 221l0 -31 7 0 2 12 0 0c0,0 0,0 0,1 0,3 0,7 0,10l0 0c0,-2 0,-4 1,-6 0,-1 0,-3 0,-5l1 -12 7 0 0 31 -4 0 0 -16 0 0c0,-1 0,-2 0,-4 0,-2 0,-4 0,-6l0 0c0,2 0,3 0,5 -1,1 -1,2 -1,3l-2 18 -4 0c-1,-6 -2,-11 -2,-15 0,-4 -1,-8 -1,-11l0 0c0,1 0,3 0,4 0,3 0,4 0,5l0 17 -4 0z"/>
                    <path id="7" class="fil14" d="M193 221l0 -31 7 0 1 12 0 0c0,0 0,0 0,1 0,3 0,7 0,10l1 0c0,-2 0,-4 0,-6 0,-1 0,-3 0,-5l2 -12 7 0 0 31 -5 0 0 -16 0 0c0,-1 0,-2 0,-4 0,-2 1,-4 1,-6l-1 0c0,2 0,3 0,5 0,1 0,2 0,3l-2 18 -5 0c-1,-6 -1,-11 -2,-15 0,-4 0,-8 0,-11l-1 0c0,1 0,3 0,4 1,3 1,4 1,5l0 17 -4 0z"/>
                    <polygon id="8" class="fil14" points="213,221 213,190 223,190 223,194 217,194 217,202 223,202 223,206 217,206 217,217 223,217 223,221 "/>
                    <path id="9" class="fil14" d="M233 201l0 -5c0,-1 0,-2 -1,-2 0,0 -1,0 -1,0l-1 0 0 9 1 0c0,0 1,0 1,-1 1,0 1,-1 1,-1zm-8 -11l6 0c2,0 4,0 5,1 1,1 1,3 1,5l0 3c0,2 0,3 -1,4 0,1 -2,1 -3,2l0 0c1,0 2,0 3,1 1,1 1,2 1,3l0 7c0,1 0,2 1,3 0,1 0,2 0,2l-5 0c0,0 0,-1 0,-1 0,-1 0,-2 0,-3l0 -1 0 -7c0,-1 -1,-2 -1,-2 0,0 -1,0 -2,0l0 0 0 14 -5 0 0 -31z"/>
                    <path class="fil15" d="M1053 165c0,-1 0,-3 -1,-5 0,-2 0,-4 0,-6l-2 -18 4 0 1 10c0,2 0,3 1,5 0,2 0,4 0,6l0 0c0,-3 0,-5 0,-7 0,-2 0,-3 0,-3l1 -11 5 0 1 11c0,1 0,2 0,4 0,2 0,4 0,6l1 0c0,-3 0,-5 0,-7 0,-1 0,-3 0,-4l1 -10 4 0 -3 29 -5 0 -1 -18c0,0 0,-1 0,-1 0,-1 0,-2 0,-2l0 -1 -1 0c0,2 0,5 0,9 0,4 -1,8 -1,13l-5 0z"/>
                    <path id="1" class="fil15" d="M1075 140l0 20c0,1 0,1 0,1 0,1 1,1 1,1 0,0 1,0 1,-1 0,0 0,0 0,-1l0 -20c0,0 0,-1 0,-1 0,0 0,0 -1,0 0,0 -1,0 -1,0 0,0 0,1 0,1zm-5 1c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 3,1 4,2 1,1 2,2 2,4l0 18c0,2 -1,4 -2,4 -1,1 -2,2 -4,2 -2,0 -3,-1 -4,-2 -1,0 -2,-2 -2,-4l0 -18z"/>
                    <polygon id="2" class="fil15" points="1084,165 1084,136 1088,136 1088,147 1091,147 1091,136 1095,136 1095,165 1091,165 1091,151 1088,151 1088,165 "/>
                    <path id="3" class="fil15" d="M1097 165l0 -29 7 0 1 12c1,2 1,4 1,6 0,3 1,5 1,7l0 0c0,-2 0,-4 0,-6 0,-2 0,-3 0,-4l0 -15 3 0 0 29 -6 0 -2 -16c-1,-3 -1,-5 -1,-6 0,-2 0,-3 0,-4l-1 0c0,2 0,4 0,5 0,2 1,2 1,3l0 18 -4 0z"/>
                    <polygon id="4" class="fil15" points="1112,165 1112,161 1117,140 1112,140 1112,136 1122,136 1122,139 1117,161 1122,161 1122,165 "/>
                    <polygon id="5" class="fil15" points="1128,165 1124,165 1124,136 1128,136 "/>
                    <path id="6" class="fil15" d="M1130 165l0 -29 7 0 1 11 0 0c0,0 0,0 0,1 0,3 0,6 0,9l1 0c0,-2 0,-3 0,-5 0,-2 0,-3 0,-5l1 -11 7 0 0 29 -4 0 0 -15 0 -1c0,0 0,-1 0,-3 0,-2 0,-3 0,-5l0 0c0,1 0,3 0,4 -1,1 -1,2 -1,3l-2 17 -4 0c0,-6 -1,-11 -1,-15 -1,-3 -1,-7 -1,-9l0 0c0,1 0,2 0,3 0,3 0,4 0,5l0 16 -4 0z"/>
                    <path id="7" class="fil15" d="M1149 165l0 -29 6 0 2 11 0 0c0,0 0,0 0,1 0,3 0,6 0,9l0 0c0,-2 1,-3 1,-5 0,-2 0,-3 0,-5l1 -11 7 0 0 29 -4 0 0 -15 0 -1c0,0 0,-1 0,-3 0,-2 0,-3 0,-5l0 0c0,1 -1,3 -1,4 0,1 0,2 0,3l-2 17 -4 0c-1,-6 -1,-11 -2,-15 0,-3 0,-7 0,-9l-1 0c0,1 0,2 1,3 0,3 0,4 0,5l0 16 -4 0z"/>
                    <polygon id="8" class="fil15" points="1168,165 1168,136 1177,136 1177,140 1172,140 1172,147 1177,147 1177,151 1172,151 1172,161 1177,161 1177,165 "/>
                    <path id="9" class="fil15" d="M1186 146l0 -5c0,-1 0,-1 -1,-1 0,-1 0,-1 -1,-1l-1 0 0 9 1 0c1,0 1,0 1,-1 1,0 1,-1 1,-1zm-7 -10l5 0c2,0 4,0 5,1 1,1 1,2 1,4l0 4c0,1 0,2 -1,3 0,1 -2,1 -3,1l0 1c1,0 2,0 3,1 1,0 1,1 1,3l0 6c0,1 0,2 0,3 1,1 1,1 1,2l-5 0c0,-1 0,-1 0,-2 0,0 0,-1 0,-2l0 -2 0 -6c0,0 0,-1 -1,-1 0,-1 -1,-1 -1,-1l-1 0 0 14 -4 0 0 -29z"/>
                    <path class="fil15" d="M1742 146l0 -5c0,-1 -1,-1 -1,-1 0,-1 0,-1 -1,-1l-1 0 0 9 1 0c1,0 1,0 1,-1 0,0 1,-1 1,-1zm-7 -10l5 0c2,0 4,0 5,1 0,1 1,2 1,4l0 4c0,1 0,2 -1,3 -1,1 -2,1 -3,1l0 1c1,0 2,0 3,1 1,0 1,1 1,3l0 6c0,1 0,2 0,3 0,1 0,1 1,2l-5 0c0,-1 0,-1 0,-2 0,0 0,-1 0,-2l0 -2 0 -6c0,0 -1,-1 -1,-1 0,-1 -1,-1 -2,-1l0 0 0 14 -4 0 0 -29z"/>
                    <path id="1" class="fil15" d="M1756 140c0,0 0,-1 -1,-1 0,0 0,0 -1,0 0,0 0,0 -1,0 0,0 0,1 0,1l0 20c0,0 0,1 0,1 1,0 1,0 1,0 1,0 1,0 1,0 1,0 1,-1 1,-1l0 -7 -2 0 0 -3 6 0 0 14 -2 0 0 -2 -1 0c0,1 -1,2 -1,2 -1,1 -2,1 -3,1 -1,0 -2,-1 -3,-2 -1,-1 -1,-2 -1,-4l0 -18c0,-2 0,-3 1,-4 1,-1 3,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 5 -4 0 0 -6z"/>
                    <path id="2" class="fil15" d="M1767 151l0 10 0 0c1,0 1,0 2,0 0,0 0,-1 0,-2l0 -6c0,0 0,-1 0,-1 -1,-1 -1,-1 -2,-1l0 0zm2 -5l0 -5c0,-1 0,-1 0,-1 -1,-1 -1,-1 -2,-1l0 0 0 9 0 0c1,0 1,0 2,-1 0,0 0,-1 0,-1zm-7 -10l5 0c2,0 4,0 5,1 1,1 1,2 1,4l0 4c0,1 0,2 -1,3 0,1 -1,1 -3,1l0 1c2,0 3,0 3,1 1,0 1,1 1,3l0 6c0,1 0,3 -1,4 -1,0 -3,1 -5,1l-5 0 0 -29z"/>
                    <path id="3" class="fil15" d="M1788 140c0,0 0,-1 0,-1 0,0 -1,0 -1,0 -1,0 -1,0 -1,0 0,0 0,1 0,1l0 20c0,0 0,1 0,1 0,0 0,0 1,0 0,0 1,0 1,0 0,0 0,-1 0,-1l0 -7 4 0 0 6c0,2 0,4 -1,4 -1,1 -2,2 -4,2 -2,0 -3,-1 -4,-2 -1,0 -2,-2 -2,-4l0 -18c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 3,1 4,2 1,1 1,2 1,4l0 5 -4 0 0 -6z"/>
                    <path id="4" class="fil15" d="M1798 140l0 20c0,1 1,1 1,1 0,1 0,1 1,1 0,0 0,0 1,-1 0,0 0,0 0,-1l0 -20c0,0 0,-1 0,-1 -1,0 -1,0 -1,0 -1,0 -1,0 -1,0 0,0 -1,1 -1,1zm-4 1c0,-2 1,-3 2,-4 0,-1 2,-2 4,-2 2,0 3,1 4,2 1,1 1,2 1,4l0 18c0,2 0,4 -1,4 -1,1 -2,2 -4,2 -2,0 -4,-1 -4,-2 -1,0 -2,-2 -2,-4l0 -18z"/>
                    <path id="5" class="fil15" d="M1807 165l0 -29 7 0 2 12c0,2 0,4 0,6 1,3 1,5 1,7l0 0c0,-2 0,-4 0,-6 0,-2 0,-3 0,-4l0 -15 4 0 0 29 -7 0 -2 -16c0,-3 0,-5 -1,-6 0,-2 0,-3 0,-4l0 0c0,2 0,4 0,5 0,2 0,2 0,3l0 18 -4 0z"/>
                    <polygon id="6" class="fil15" points="1830,165 1826,165 1826,140 1822,140 1822,136 1834,136 1834,140 1830,140 "/>
                    <path id="7" class="fil15" d="M1842 146l0 -5c0,-1 0,-1 0,-1 0,-1 -1,-1 -1,-1l-1 0 0 9 1 0c0,0 1,0 1,-1 0,0 0,-1 0,-1zm-6 -10l5 0c2,0 3,0 4,1 1,1 2,2 2,4l0 4c0,1 -1,2 -1,3 -1,1 -2,1 -3,1l0 1c1,0 2,0 3,1 0,0 1,1 1,3l0 6c0,1 0,2 0,3 0,1 0,1 1,2l-5 0c0,-1 0,-1 0,-2 0,0 -1,-1 -1,-2l0 -2 0 -6c0,0 0,-1 0,-1 0,-1 -1,-1 -2,-1l0 0 0 14 -4 0 0 -29z"/>
                    <path id="8" class="fil15" d="M1854 140l0 20c0,1 0,1 0,1 0,1 1,1 1,1 0,0 1,0 1,-1 0,0 0,0 0,-1l0 -20c0,0 0,-1 0,-1 0,0 0,0 -1,0 0,0 -1,0 -1,0 0,0 0,1 0,1zm-5 1c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 3,1 4,2 1,1 2,2 2,4l0 18c0,2 -1,4 -2,4 -1,1 -2,2 -4,2 -2,0 -3,-1 -4,-2 -1,0 -2,-2 -2,-4l0 -18z"/>
                    <polygon id="9" class="fil15" points="1862,165 1862,136 1867,136 1867,161 1872,161 1872,165 "/>
                    <path class="fil15" d="M1053 661l0 10 1 0c1,0 1,0 1,0 1,0 1,-1 1,-1l0 -7c0,0 0,-1 -1,-1 0,0 0,-1 -1,-1l-1 0zm3 -5l0 -5c0,0 0,-1 -1,-1 0,-1 0,-1 -1,-1l-1 0 0 9 1 0c1,0 1,0 1,-1 1,0 1,0 1,-1zm-7 -10l5 0c2,0 4,0 5,1 1,1 1,2 1,4l0 4c0,1 0,2 -1,3 -1,1 -2,1 -3,2l0 0c1,0 2,0 3,1 1,1 1,2 1,3l0 6c0,2 0,3 -1,4 -1,1 -3,1 -5,1l-5 0 0 -29z"/>
                    <path id="1" class="fil15" d="M1062 670l0 -24 4 0 0 24c0,0 0,1 0,1 1,0 1,0 1,0 1,0 1,0 1,0 0,0 1,-1 1,-1l0 -24 4 0 0 24c0,1 -1,3 -2,4 0,1 -2,1 -4,1 -2,0 -3,0 -4,-1 -1,-1 -1,-3 -1,-4z"/>
                    <polygon id="2" class="fil15" points="1083,675 1078,675 1078,650 1075,650 1075,646 1086,646 1086,650 1083,650 "/>
                    <polygon id="3" class="fil15" points="1096,675 1091,675 1091,650 1087,650 1087,646 1099,646 1099,650 1096,650 "/>
                    <path id="4" class="fil15" d="M1105 651l0 19c0,1 0,1 1,2 0,0 0,0 0,0 1,0 1,0 1,0 1,-1 1,-1 1,-2l0 -19c0,-1 0,-1 -1,-2 0,0 0,0 -1,0 0,0 0,0 0,0 -1,0 -1,1 -1,2zm-4 0c0,-2 0,-3 1,-4 1,-1 3,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 19c0,1 0,3 -1,4 -1,1 -3,1 -5,1 -1,0 -3,0 -4,-1 -1,-1 -1,-3 -1,-4l0 -19z"/>
                    <path id="5" class="fil15" d="M1114 675l0 -29 7 0 1 12c1,2 1,4 1,6 0,3 1,5 1,7l0 0c0,-2 0,-4 0,-6 0,-2 0,-3 0,-4l0 -15 3 0 0 29 -6 0 -2 -16c0,-3 -1,-5 -1,-6 0,-2 0,-3 0,-4l-1 0c1,3 1,4 1,5 0,2 0,2 0,3l0 18 -4 0z"/>
                    <path id="6" class="fil15" d="M1136 675l0 -29 7 0 1 11 0 0c0,0 0,1 0,1 0,3 0,6 1,9l0 0c0,-1 0,-3 0,-5 0,-2 0,-3 0,-5l2 -11 6 0 0 29 -4 0 0 -15 0 -1c0,0 0,-1 0,-3 0,-1 0,-3 0,-5l0 0c0,1 0,3 0,4 0,1 0,2 -1,3l-1 17 -5 0c0,-6 -1,-11 -1,-15 -1,-3 -1,-7 -1,-9l0 0c0,1 0,2 0,4 0,2 0,3 0,4l0 16 -4 0z"/>
                    <path id="7" class="fil15" d="M1159 651l0 19c0,1 0,1 1,2 0,0 0,0 1,0 0,0 0,0 1,0 0,-1 0,-1 0,-2l0 -19c0,-1 0,-1 0,-2 -1,0 -1,0 -1,0 -1,0 -1,0 -1,0 -1,0 -1,1 -1,2zm-4 0c0,-2 0,-3 1,-4 1,-1 3,-2 5,-2 1,0 3,1 4,2 1,1 1,2 1,4l0 19c0,1 0,3 -1,4 -1,1 -3,1 -4,1 -2,0 -4,0 -5,-1 -1,-1 -1,-3 -1,-4l0 -19z"/>
                    <path id="8" class="fil15" d="M1173 649l0 22 1 0c0,0 1,0 1,0 0,0 0,-1 0,-1l0 -19c0,0 0,-1 0,-1 0,-1 -1,-1 -1,-1l-1 0zm-5 -3l5 0c3,0 4,0 5,1 1,1 2,2 2,4l0 19c0,2 -1,3 -2,4 -1,1 -2,1 -5,1l-5 0 0 -29z"/>
                    <polygon id="9" class="fil15" points="1181,675 1181,646 1191,646 1191,650 1186,650 1186,657 1191,657 1191,661 1186,661 1186,671 1191,671 1191,675 "/>
                    <path class="fil16" d="M1464 680l0 -36 -5 0 0 -5c2,0 4,0 5,-1 1,-1 1,-3 1,-5l0 0 6 0 0 47 -7 0z"/>
                    <path id="1" class="fil16" d="M1482 641l0 31c0,1 0,2 1,2 0,1 0,1 1,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -31c0,-1 0,-2 0,-3 -1,0 -1,0 -2,0 -1,0 -1,0 -1,0 -1,1 -1,1 -1,3zm-7 0c0,-3 1,-5 2,-7 2,-1 4,-2 7,-2 3,0 5,1 7,2 1,2 2,4 2,7l0 31c0,3 -1,5 -2,6 -2,2 -4,3 -7,3 -3,0 -5,-1 -7,-3 -1,-1 -2,-3 -2,-6l0 -31z"/>
                    <path id="2" class="fil16" d="M1503 641l0 31c0,1 0,2 1,2 0,1 1,1 1,1 1,0 2,0 2,-1 0,0 0,-1 0,-2l0 -31c0,-1 0,-2 0,-3 0,0 -1,0 -2,0 0,0 -1,0 -1,0 -1,1 -1,1 -1,3zm-7 0c0,-3 1,-5 3,-7 1,-1 3,-2 6,-2 3,0 5,1 7,2 2,2 2,4 2,7l0 31c0,3 0,5 -2,6 -2,2 -4,3 -7,3 -3,0 -5,-1 -6,-3 -2,-1 -3,-3 -3,-6l0 -31z"/>
                    <path class="fil16" d="M1742 680l0 -36 -5 0 0 -5c2,0 3,0 4,-1 1,-1 2,-3 2,-5l0 0 6 0 0 47 -7 0z"/>
                    <path id="1" class="fil16" d="M1760 641l0 31c0,1 0,2 0,2 1,1 1,1 2,1 1,0 1,0 1,-1 1,0 1,-1 1,-2l0 -31c0,-1 0,-2 -1,-3 0,0 0,0 -1,0 -1,0 -1,0 -2,0 0,1 0,1 0,3zm-7 0c0,-3 1,-5 2,-7 2,-1 4,-2 7,-2 3,0 5,1 6,2 2,2 3,4 3,7l0 31c0,3 -1,5 -3,6 -1,2 -3,3 -6,3 -3,0 -5,-1 -7,-3 -1,-1 -2,-3 -2,-6l0 -31z"/>
                    <path id="2" class="fil16" d="M1781 641l0 31c0,1 0,2 1,2 0,1 0,1 1,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -31c0,-1 0,-2 0,-3 -1,0 -1,0 -2,0 -1,0 -1,0 -1,0 -1,1 -1,1 -1,3zm-7 0c0,-3 1,-5 2,-7 2,-1 4,-2 7,-2 3,0 5,1 7,2 1,2 2,4 2,7l0 31c0,3 -1,5 -2,6 -2,2 -4,3 -7,3 -3,0 -5,-1 -7,-3 -1,-1 -2,-3 -2,-6l0 -31z"/>
                    <path class="fil16" d="M1464 779l0 -36 -5 0 0 -5c2,0 4,0 5,-1 1,-1 1,-3 1,-5l0 0 6 0 0 47 -7 0z"/>
                    <path id="1" class="fil16" d="M1482 740l0 31c0,1 0,2 1,2 0,1 0,1 1,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -31c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1 -1,0 -1,0 -1,1 -1,0 -1,1 -1,2zm-7 0c0,-3 1,-5 2,-6 2,-2 4,-3 7,-3 3,0 5,1 7,3 1,1 2,3 2,6l0 31c0,3 -1,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -31z"/>
                    <path id="2" class="fil16" d="M1503 740l0 31c0,1 0,2 1,2 0,1 1,1 1,1 1,0 2,0 2,-1 0,0 0,-1 0,-2l0 -31c0,-1 0,-2 0,-2 0,-1 -1,-1 -2,-1 0,0 -1,0 -1,1 -1,0 -1,1 -1,2zm-7 0c0,-3 1,-5 3,-6 1,-2 3,-3 6,-3 3,0 5,1 7,3 2,1 2,3 2,6l0 31c0,3 0,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -6,-2 -2,-2 -3,-4 -3,-7l0 -31z"/>
                    <path class="fil16" d="M1742 779l0 -36 -5 0 0 -5c2,0 3,0 4,-1 1,-1 2,-3 2,-5l0 0 6 0 0 47 -7 0z"/>
                    <path id="1" class="fil16" d="M1760 740l0 31c0,1 0,2 0,2 1,1 1,1 2,1 1,0 1,0 1,-1 1,0 1,-1 1,-2l0 -31c0,-1 0,-2 -1,-2 0,-1 0,-1 -1,-1 -1,0 -1,0 -2,1 0,0 0,1 0,2zm-7 0c0,-3 1,-5 2,-6 2,-2 4,-3 7,-3 3,0 5,1 6,3 2,1 3,3 3,6l0 31c0,3 -1,5 -3,7 -1,1 -3,2 -6,2 -3,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -31z"/>
                    <path id="2" class="fil16" d="M1781 740l0 31c0,1 0,2 1,2 0,1 0,1 1,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -31c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1 -1,0 -1,0 -1,1 -1,0 -1,1 -1,2zm-7 0c0,-3 1,-5 2,-6 2,-2 4,-3 7,-3 3,0 5,1 7,3 1,1 2,3 2,6l0 31c0,3 -1,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -31z"/>
                    <path class="fil16" d="M1464 878l0 -35 -5 0 0 -5c2,-1 4,-1 5,-2 1,-1 1,-3 1,-4l0 -1 6 0 0 47 -7 0z"/>
                    <path id="1" class="fil16" d="M1482 839l0 31c0,1 0,2 1,3 0,0 0,0 1,0 1,0 1,0 2,0 0,-1 0,-2 0,-3l0 -31c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1 -1,0 -1,0 -1,1 -1,0 -1,1 -1,2zm-7 0c0,-3 1,-5 2,-6 2,-2 4,-3 7,-3 3,0 5,1 7,3 1,1 2,3 2,6l0 31c0,3 -1,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -31z"/>
                    <path id="2" class="fil16" d="M1503 839l0 31c0,1 0,2 1,3 0,0 1,0 1,0 1,0 2,0 2,0 0,-1 0,-2 0,-3l0 -31c0,-1 0,-2 0,-2 0,-1 -1,-1 -2,-1 0,0 -1,0 -1,1 -1,0 -1,1 -1,2zm-7 0c0,-3 1,-5 3,-6 1,-2 3,-3 6,-3 3,0 5,1 7,3 2,1 2,3 2,6l0 31c0,3 0,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -6,-2 -2,-2 -3,-4 -3,-7l0 -31z"/>
                    <path class="fil16" d="M1713 878l0 -47 8 0c3,0 6,1 7,2 2,2 3,4 3,7l0 11c0,3 -1,5 -3,7 -1,1 -4,2 -7,2l-1 0 0 18 -7 0zm11 -27l0 -11c0,-1 -1,-2 -1,-2 0,-1 -1,-1 -2,-1l-1 0 0 17 1 0c1,0 2,0 2,0 0,-1 1,-2 1,-3z"/>
                    <path id="1" class="fil16" d="M1745 847l0 -7c0,-1 -1,-2 -1,-2 0,-1 -1,-1 -2,-1l-1 0 0 14 1 0c1,0 2,-1 2,-1 0,-1 1,-1 1,-3zm-11 -16l8 0c3,0 6,1 7,2 2,2 3,4 3,7l0 5c0,3 -1,5 -2,6 -1,1 -3,2 -5,2l0 1c2,0 4,0 5,1 1,1 2,3 2,5l0 9c0,3 0,4 0,6 0,1 0,2 1,3l-7 0c-1,-1 -1,-2 -1,-3 0,-1 0,-2 0,-4l0 -2 0 -10c0,-1 -1,-2 -1,-2 -1,0 -2,-1 -3,-1l0 0 0 22 -7 0 0 -47z"/>
                    <path id="2" class="fil16" d="M1763 839l0 31c0,1 0,2 0,3 1,0 1,0 2,0 1,0 1,0 1,0 1,-1 1,-2 1,-3l0 -31c0,-1 0,-2 -1,-2 0,-1 0,-1 -1,-1 -1,0 -1,0 -2,1 0,0 0,1 0,2zm-7 0c0,-3 1,-5 2,-6 2,-2 4,-3 7,-3 3,0 5,1 7,3 1,1 2,3 2,6l0 30c0,3 -1,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -30z"/>
                    <path id="3" class="fil16" d="M1789 839c0,-1 -1,-2 -1,-2 0,-1 -1,-1 -1,-1 -1,0 -2,0 -2,0 0,1 -1,2 -1,3l0 30c0,1 1,2 1,3 0,0 1,0 2,0 0,0 1,0 1,0 0,-1 1,-2 1,-3l0 -10 -3 0 0 -5 10 0 0 23 -4 0 -1 -3 0 0c0,1 -1,2 -2,3 -1,1 -3,1 -4,1 -3,0 -4,-1 -6,-2 -1,-2 -1,-4 -1,-7l0 -30c0,-3 0,-5 2,-6 1,-2 4,-3 7,-3 2,0 5,1 6,3 2,1 3,3 3,6l0 9 -7 0 0 -9z"/>
                    <polygon class="fil16" points="305,272 305,252 308,252 308,269 312,269 312,272 "/>
                    <path id="1" class="fil16" d="M317 255l0 14c0,0 0,0 0,1 0,0 0,0 1,0 0,0 0,0 0,0 0,-1 0,-1 0,-1l0 -14c0,-1 0,-1 0,-1 0,0 0,0 0,0 -1,0 -1,0 -1,0 0,0 0,0 0,1zm-3 0c0,-1 0,-2 1,-3 0,-1 1,-1 3,-1 1,0 2,0 2,1 1,1 1,2 1,3l0 13c0,1 0,2 -1,3 0,1 -1,1 -2,1 -2,0 -3,0 -3,-1 -1,-1 -1,-2 -1,-3l0 -13z"/>
                    <path id="2" class="fil16" d="M328 255c0,-1 0,-1 0,-1 0,0 -1,0 -1,0 0,0 -1,0 -1,0 0,0 0,0 0,1l0 13c0,1 0,1 0,1 0,0 1,0 1,0 0,0 1,0 1,0 0,0 0,0 0,-1l0 -4 -1 0 0 -3 4 0 0 11 -2 0 0 -2 0 0c0,1 -1,1 -1,2 -1,0 -1,0 -2,0 -1,0 -2,0 -2,-1 -1,-1 -1,-2 -1,-3l0 -13c0,-1 0,-2 1,-3 1,-1 2,-1 3,-1 1,0 2,0 3,1 1,1 1,2 1,3l0 4 -3 0 0 -4z"/>
                    <path id="3" class="fil16" d="M335 255l0 14c0,0 1,0 1,1 0,0 0,0 0,0 1,0 1,0 1,0 0,-1 0,-1 0,-1l0 -14c0,-1 0,-1 0,-1 0,0 0,0 -1,0 0,0 0,0 0,0 0,0 -1,0 -1,1zm-3 0c0,-1 1,-2 1,-3 1,-1 2,-1 3,-1 2,0 3,0 3,1 1,1 1,2 1,3l0 13c0,1 0,2 -1,3 0,1 -1,1 -3,1 -1,0 -2,0 -3,-1 0,-1 -1,-2 -1,-3l0 -13z"/>
                    <path id="4" class="fil16" d="M349 255l0 14c0,0 1,0 1,1 0,0 0,0 0,0 1,0 1,0 1,0 0,-1 0,-1 0,-1l0 -14c0,-1 0,-1 0,-1 0,0 0,0 -1,0 0,0 0,0 0,0 0,0 -1,0 -1,1zm-3 0c0,-1 1,-2 1,-3 1,-1 2,-1 3,-1 2,0 3,0 3,1 1,1 1,2 1,3l0 13c0,1 0,2 -1,3 0,1 -1,1 -3,1 -1,0 -2,0 -3,-1 0,-1 -1,-2 -1,-3l0 -13z"/>
                    <path id="5" class="fil16" d="M356 272l0 -20 4 0 2 8c0,1 0,3 0,5 0,1 0,3 1,4l0 0c0,-1 0,-3 0,-4 0,-1 0,-2 0,-3l0 -10 2 0 0 20 -4 0 -2 -11c0,-2 0,-4 0,-5 -1,-1 -1,-1 -1,-2l0 0c0,2 0,3 0,4 0,0 0,1 0,1l0 13 -2 0z"/>
                    <polygon id="6" class="fil16" points="366,272 366,252 370,252 370,269 373,269 373,272 "/>
                    <polygon id="7" class="fil16" points="378,272 375,272 375,252 378,252 "/>
                    <path id="8" class="fil16" d="M379 272l0 -20 5 0 1 8c0,1 0,3 1,5 0,1 0,3 0,4l0 0c0,-1 0,-3 0,-4 0,-1 0,-2 0,-3l0 -10 3 0 0 20 -5 0 -1 -11c-1,-2 -1,-4 -1,-5 0,-1 0,-1 0,-2l-1 0c1,2 1,3 1,4 0,0 0,1 0,1l0 13 -3 0z"/>
                    <polygon id="9" class="fil16" points="390,272 390,252 397,252 397,254 393,254 393,260 397,260 397,262 393,262 393,269 397,269 397,272 "/>
                    <polygon class="fil14" points="170,323 170,292 175,292 175,306 175,306 179,292 183,292 179,306 183,323 178,323 175,307 175,307 175,323 "/>
                    <path id="1" class="fil14" d="M186 317l0 -25 4 0 0 25c0,1 0,2 1,2 0,0 0,0 1,0 0,0 1,0 1,0 0,0 0,-1 0,-2l0 -25 5 0 0 25c0,2 -1,4 -2,5 -1,1 -2,1 -4,1 -2,0 -4,0 -5,-1 -1,-1 -1,-3 -1,-5zm2 -27l0 -5 3 0 0 5 -3 0zm5 0l0 -5 3 0 0 5 -3 0z"/>
                    <path id="2" class="fil14" d="M207 297c0,-1 0,-2 0,-2 0,0 -1,0 -1,0 0,0 -1,0 -1,0 0,0 0,1 0,2l0 20c0,1 0,2 0,2 0,0 1,0 1,0 0,0 1,0 1,0 0,0 0,-1 0,-2l0 -7 5 0 0 7c0,2 0,4 -1,5 -1,1 -3,1 -5,1 -2,0 -4,0 -5,-1 -1,-1 -1,-3 -1,-5l0 -20c0,-2 0,-3 1,-4 1,-1 3,-2 5,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 6 -5 0 0 -6z"/>
                    <polygon id="3" class="fil14" points="214,323 214,292 219,292 219,304 221,304 221,292 226,292 226,323 221,323 221,308 219,308 219,323 "/>
                    <polygon id="4" class="fil14" points="228,323 228,292 239,292 239,296 233,296 233,304 239,304 239,308 233,308 233,319 239,319 239,323 "/>
                    <path class="fil14" d="M69 399c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 6 -4 0 0 -6c0,-1 -1,-1 -1,-2 0,0 0,0 -1,0 0,0 -1,0 -1,0 0,1 0,1 0,2l0 2c0,1 0,1 0,2 0,0 0,1 0,1l6 7c0,1 1,1 1,2 0,1 0,1 0,2l0 4c0,2 0,4 -1,5 -1,1 -3,1 -5,1 -2,0 -3,0 -4,-1 -1,-1 -2,-3 -2,-5l0 -6 5 0 0 7c0,0 0,1 0,1 0,0 1,0 1,0 1,0 1,0 1,0 0,0 1,-1 1,-1l0 -4c0,0 0,0 -1,-1 0,0 0,-1 0,-1l-6 -7c0,-1 0,-2 -1,-2 0,-1 0,-2 0,-3l0 -3z"/>
                    <path id="1" class="fil14" d="M91 399c0,-1 0,-1 0,-2 0,0 -1,0 -1,0 -1,0 -1,0 -1,0 -1,1 -1,1 -1,2l0 21c0,0 0,1 1,1 0,0 0,0 1,0 0,0 1,0 1,0 0,0 0,-1 0,-1l0 -7 5 0 0 6c0,2 -1,4 -2,5 -1,1 -2,1 -4,1 -2,0 -4,0 -5,-1 -1,-1 -1,-3 -1,-5l0 -20c0,-2 0,-3 1,-4 1,-1 3,-2 5,-2 2,0 3,1 4,2 1,1 2,2 2,4l0 6 -5 0 0 -6z"/>
                    <polygon id="2" class="fil14" points="98,425 98,394 102,394 102,406 105,406 105,394 110,394 110,425 105,425 105,410 102,410 102,425 "/>
                    <polygon id="3" class="fil14" points="112,425 112,394 117,394 117,421 122,421 122,425 "/>
                    <path id="4" class="fil14" d="M125 425l4 -31 7 0 4 31 -5 0 -1 -8 -3 0 -1 8 -5 0zm6 -12l2 0 0 -8c0,-1 0,-2 0,-2 0,-1 0,-3 0,-4l-1 0c0,0 0,1 0,3 0,1 0,2 0,3l-1 8z"/>
                    <polygon id="5" class="fil14" points="141,425 141,394 152,394 152,398 146,398 146,406 151,406 151,410 146,410 146,425 "/>
                    <polygon id="6" class="fil14" points="153,425 153,422 159,398 153,398 153,394 164,394 164,398 158,421 164,421 164,425 "/>
                    <polygon id="7" class="fil14" points="170,425 166,425 166,394 170,394 "/>
                    <path id="8" class="fil14" d="M173 425l0 -31 7 0 1 12 0 0c0,0 0,0 0,1 0,3 1,7 1,10l0 0c0,-2 0,-4 0,-6 0,-1 0,-3 1,-5l1 -12 7 0 0 31 -5 0 1 -16 0 -1c0,0 0,-1 0,-3 0,-2 0,-4 0,-6l0 0c-1,2 -1,3 -1,5 0,1 0,2 0,3l-2 18 -5 0c0,-6 -1,-11 -1,-15 -1,-5 -1,-8 -1,-11l0 0c0,1 0,2 0,4 0,3 0,4 0,5l0 17 -4 0z"/>
                    <path id="9" class="fil14" d="M193 425l0 -31 7 0 2 12 0 0c0,0 0,0 0,1 0,3 0,7 0,10l0 0c0,-2 1,-4 1,-6 0,-1 0,-3 0,-5l1 -12 7 0 0 31 -4 0 0 -16 0 -1c0,0 0,-1 0,-3 0,-2 0,-4 0,-6l0 0c0,2 0,3 0,5 0,1 -1,2 -1,3l-2 18 -4 0c-1,-6 -2,-11 -2,-15 0,-5 -1,-8 -1,-11l0 0c0,1 0,2 0,4 0,3 0,4 0,5l0 17 -4 0z"/>
                    <polygon id="10" class="fil14" points="213,425 213,394 224,394 224,398 218,398 218,406 224,406 224,410 218,410 218,421 224,421 224,425 "/>
                    <path id="11" class="fil14" d="M233 405l0 -5c0,-1 0,-2 0,-2 0,0 -1,-1 -1,-1l-1 0 0 10 1 0c0,0 1,0 1,-1 0,0 0,-1 0,-1zm-7 -11l5 0c3,0 4,0 5,1 1,1 2,3 2,5l0 3c0,2 0,3 -1,4 -1,1 -2,1 -4,2l0 0c2,0 3,0 4,1 1,1 1,2 1,3l0 7c0,1 0,2 0,3 0,1 1,2 1,2l-5 0c0,0 0,-1 -1,-2 0,0 0,-1 0,-2l0 -2 0 -6c0,-1 0,-2 0,-2 -1,0 -1,0 -2,0l0 0 0 14 -5 0 0 -31z"/>
                    <polygon class="fil14" points="150,527 145,527 145,500 141,500 141,496 154,496 154,500 150,500 "/>
                    <path id="1" class="fil14" d="M163 507l0 -5c0,-1 0,-2 -1,-2 0,0 0,0 -1,0l-1 0 0 9 1 0c1,0 1,0 1,-1 1,0 1,-1 1,-1zm-8 -11l6 0c2,0 4,0 5,1 1,1 2,3 2,5l0 3c0,2 -1,3 -1,4 -1,1 -2,1 -4,2l0 0c2,0 3,0 3,1 1,1 2,2 2,3l0 7c0,1 0,2 0,3 0,1 0,2 0,2l-5 0c0,0 0,-1 0,-1 0,-1 0,-2 0,-3l0 -1 0 -7c0,-1 0,-1 -1,-2 0,0 -1,0 -2,0l0 0 0 14 -5 0 0 -31z"/>
                    <polygon id="2" class="fil14" points="170,527 170,496 181,496 181,500 175,500 175,508 181,508 181,512 175,512 175,523 181,523 181,527 "/>
                    <path id="3" class="fil14" d="M183 527l0 -31 6 0c2,0 3,0 5,1 1,1 1,3 1,5l0 7c0,2 0,4 -1,5 -1,1 -3,1 -5,1l-1 0 0 12 -5 0zm7 -18l0 -7c0,-1 0,-2 0,-2 0,0 -1,0 -1,0l-1 0 0 11 1 0c0,0 1,0 1,0 0,0 0,-1 0,-2z"/>
                    <path id="4" class="fil14" d="M197 527l0 -31 6 0c2,0 4,0 5,1 1,1 1,3 1,5l0 7c0,2 0,4 -1,5 -1,1 -3,1 -5,1l-1 0 0 12 -5 0zm8 -18l0 -7c0,-1 0,-2 -1,-2 0,0 0,0 -1,0l-1 0 0 11 1 0c1,0 1,0 1,0 1,0 1,-1 1,-2z"/>
                    <polygon id="5" class="fil14" points="212,527 212,496 222,496 222,500 216,500 216,508 222,508 222,512 216,512 216,523 222,523 222,527 "/>
                    <path id="6" class="fil14" d="M224 527l0 -31 7 0 2 13c0,2 1,5 1,7 0,2 1,5 1,7l0 0c0,-2 0,-4 0,-6 0,-2 0,-4 0,-4l0 -17 4 0 0 31 -7 0 -3 -17c0,-3 0,-5 0,-7 -1,-1 -1,-2 -1,-3l0 0c0,2 0,4 0,5 0,1 0,2 0,3l0 19 -4 0z"/>
                    <path class="fil14" d="M102 615l0 11 1 0c1,0 1,0 1,-1 1,0 1,-1 1,-1l0 -7c0,-1 0,-1 -1,-2 0,0 0,0 -1,0l-1 0zm3 -6l0 -5c0,-1 0,-1 -1,-2 0,0 0,0 -1,0l-1 0 0 9 1 0c1,0 1,0 1,-1 1,0 1,0 1,-1zm-8 -11l6 0c2,0 4,1 5,1 1,1 2,3 2,5l0 4c0,1 -1,2 -2,3 0,1 -2,2 -3,2l0 0c1,0 3,1 3,1 1,1 2,2 2,3l0 7c0,2 -1,3 -2,4 -1,1 -3,2 -5,2l-6 0 0 -32z"/>
                    <path id="1" class="fil14" d="M111 630l3 -32 8 0 3 32 -5 0 -1 -9 -3 0 -1 9 -4 0zm6 -13l2 0 -1 -8c0,-1 0,-1 0,-2 0,-1 0,-2 0,-4l0 0c0,0 0,1 -1,3 0,1 0,2 0,3l0 8z"/>
                    <path id="2" class="fil14" d="M131 602l0 24 2 0c0,0 1,0 1,-1 0,0 0,-1 0,-1l0 -20c0,-1 0,-1 0,-2 0,0 -1,0 -1,0l-2 0zm-4 -4l5 0c3,0 4,1 5,1 1,1 2,3 2,5l0 20c0,2 -1,3 -2,4 -1,1 -2,2 -5,2l-5 0 0 -32z"/>
                    <polygon id="3" class="fil14" points="141,630 141,598 151,598 151,602 146,602 146,610 151,610 151,614 146,614 146,625 151,625 151,630 "/>
                    <polygon id="4" class="fil14" points="153,630 153,626 159,602 153,602 153,598 164,598 164,602 158,625 164,625 164,630 "/>
                    <polygon id="5" class="fil14" points="170,630 166,630 166,598 170,598 "/>
                    <path id="6" class="fil14" d="M173 630l0 -32 7 0 1 12 0 0c0,0 0,1 0,1 0,4 1,7 1,10l0 0c0,-2 0,-4 0,-5 0,-2 0,-4 1,-6l1 -12 7 0 0 32 -5 0 1 -17 0 0c0,-1 0,-2 0,-4 0,-2 0,-4 0,-6l0 0c-1,2 -1,3 -1,5 0,1 0,2 0,3l-2 19 -5 0c0,-7 -1,-12 -1,-16 -1,-4 -1,-8 -1,-11l0 0c0,1 0,3 0,4 0,3 0,5 0,5l0 18 -4 0z"/>
                    <path id="7" class="fil14" d="M193 630l0 -32 7 0 2 12 0 0c0,0 0,1 0,1 0,4 0,7 0,10l0 0c0,-2 1,-4 1,-5 0,-2 0,-4 0,-6l1 -12 7 0 0 32 -4 0 0 -17 0 0c0,-1 0,-2 0,-4 0,-2 0,-4 0,-6l0 0c0,2 0,3 0,5 0,1 -1,2 -1,3l-2 19 -4 0c-1,-7 -2,-12 -2,-16 0,-4 -1,-8 -1,-11l0 0c0,1 0,3 0,4 0,3 0,5 0,5l0 18 -4 0z"/>
                    <polygon id="8" class="fil14" points="213,630 213,598 224,598 224,602 218,602 218,610 224,610 224,614 218,614 218,625 224,625 224,630 "/>
                    <path id="9" class="fil14" d="M233 609l0 -5c0,-1 0,-1 0,-2 0,0 -1,0 -1,0l-1 0 0 9 1 0c0,0 1,0 1,-1 0,0 0,0 0,-1zm-7 -11l5 0c3,0 4,1 5,1 1,1 2,3 2,5l0 4c0,1 0,2 -1,3 -1,1 -2,2 -4,2l0 0c2,0 3,0 4,1 1,1 1,2 1,3l0 7c0,1 0,2 0,3 0,1 1,2 1,3l-5 0c0,-1 0,-2 -1,-2 0,-1 0,-2 0,-3l0 -1 0 -7c0,-1 0,-1 0,-2 -1,0 -1,0 -2,0l0 0 0 15 -5 0 0 -32z"/>
                    <path class="fil14" d="M144 705c0,-1 0,-1 0,-1 0,-1 -1,-1 -1,-1 -1,0 -1,0 -1,1 -1,0 -1,0 -1,1l0 21c0,1 0,1 1,1 0,1 0,1 1,1 0,0 1,0 1,-1 0,0 0,0 0,-1l0 -7 5 0 0 7c0,2 -1,3 -2,4 -1,1 -2,2 -4,2 -2,0 -4,-1 -5,-2 -1,-1 -1,-2 -1,-4l0 -20c0,-2 0,-4 1,-5 1,-1 3,-1 5,-1 2,0 3,0 4,1 1,1 2,3 2,5l0 6 -5 0 0 -7z"/>
                    <polygon id="1" class="fil14" points="151,732 151,700 155,700 155,712 158,712 158,700 163,700 163,732 158,732 158,717 155,717 155,732 "/>
                    <polygon id="2" class="fil14" points="170,732 165,732 165,700 170,700 "/>
                    <polygon id="3" class="fil14" points="172,732 172,700 177,700 177,727 182,727 182,732 "/>
                    <polygon id="4" class="fil14" points="184,732 184,700 189,700 189,727 194,727 194,732 "/>
                    <path id="5" class="fil14" d="M202 705l0 22c0,0 0,1 0,1 0,0 1,1 1,1 1,0 1,-1 1,-1 1,0 1,-1 1,-1l0 -22c0,0 0,-1 -1,-1 0,0 0,-1 -1,-1 0,0 -1,1 -1,1 0,0 0,1 0,1zm-5 1c0,-2 1,-4 2,-5 1,-1 2,-1 4,-1 2,0 4,0 5,1 1,1 1,3 1,5l0 20c0,2 0,3 -1,4 -1,1 -3,2 -5,2 -2,0 -3,-1 -4,-2 -1,-1 -2,-2 -2,-4l0 -20z"/>
                    <path id="6" class="fil14" d="M212 726l0 -26 4 0 0 26c0,1 0,1 1,1 0,1 0,1 1,1 0,0 0,0 1,-1 0,0 0,0 0,-1l0 -26 5 0 0 26c0,2 -1,3 -2,4 -1,1 -2,2 -4,2 -2,0 -4,-1 -5,-2 -1,-1 -1,-2 -1,-4z"/>
                    <polygon id="7" class="fil14" points="234,732 230,732 230,704 225,704 225,700 238,700 238,704 234,704 "/>
                    <path class="fil14" d="M83 834l0 -32 7 0 1 12 0 0c0,1 0,1 0,2 1,3 1,6 1,10l0 0c0,-2 0,-4 0,-6 1,-2 1,-4 1,-5l1 -13 7 0 0 32 -4 0 0 -17 0 0c0,-1 0,-2 0,-4 0,-1 0,-3 0,-5l0 0c0,1 0,3 0,4 -1,2 -1,3 -1,4l-2 18 -4 0c-1,-7 -2,-12 -2,-16 0,-4 -1,-8 -1,-10l0 0c0,1 0,2 0,4 0,2 0,4 0,4l0 18 -4 0z"/>
                    <path id="1" class="fil14" d="M103 828l0 -26 5 0 0 26c0,1 0,1 0,2 1,0 1,0 1,0 1,0 1,0 1,0 1,-1 1,-1 1,-2l0 -26 4 0 0 26c0,2 0,3 -1,4 -1,1 -3,2 -5,2 -2,0 -3,-1 -4,-2 -1,-1 -2,-2 -2,-4z"/>
                    <path id="2" class="fil14" d="M117 808c0,-2 1,-4 2,-5 1,-1 2,-1 4,-1 2,0 4,0 5,1 1,1 2,3 2,5l0 6 -5 0 0 -7c0,0 0,-1 0,-1 -1,0 -1,-1 -2,-1 0,0 0,1 -1,1 0,0 0,1 0,1l0 2c0,1 0,2 0,2 0,1 0,1 1,1l5 7c0,1 1,2 1,3 0,0 1,1 1,2l0 4c0,2 -1,3 -2,4 -1,1 -3,2 -5,2 -2,0 -3,-1 -4,-2 -1,-1 -2,-2 -2,-4l0 -7 5 0 0 7c0,1 0,1 0,2 1,0 1,0 1,0 1,0 1,0 2,0 0,-1 0,-1 0,-2l0 -3c0,-1 0,-1 0,-1 0,-1 -1,-1 -1,-1l-5 -8c-1,0 -1,-1 -1,-2 0,0 -1,-1 -1,-2l0 -3z"/>
                    <polygon id="3" class="fil14" points="136,834 132,834 132,802 136,802 "/>
                    <polygon id="4" class="fil14" points="138,834 138,802 143,802 143,816 143,816 147,802 152,802 148,817 152,834 147,834 143,818 143,818 143,834 "/>
                    <polygon id="5" class="fil14" points="153,834 153,830 159,806 153,806 153,802 164,802 164,806 158,830 164,830 164,834 "/>
                    <polygon id="6" class="fil14" points="170,834 166,834 166,802 170,802 "/>
                    <path id="7" class="fil14" d="M173 834l0 -32 7 0 1 12 0 0c0,1 0,1 0,2 0,3 1,6 1,10l0 0c0,-2 0,-4 0,-6 0,-2 0,-4 1,-5l1 -13 7 0 0 32 -5 0 1 -17 0 0c0,-1 0,-2 0,-4 0,-1 0,-3 0,-5l0 0c-1,1 -1,3 -1,4 0,2 0,3 0,4l-2 18 -5 0c0,-7 -1,-12 -1,-16 -1,-4 -1,-8 -1,-10l0 0c0,1 0,2 0,4 0,2 0,4 0,4l0 18 -4 0z"/>
                    <path id="8" class="fil14" d="M193 834l0 -32 7 0 2 12 0 0c0,1 0,1 0,2 0,3 0,6 0,10l0 0c0,-2 1,-4 1,-6 0,-2 0,-4 0,-5l1 -13 7 0 0 32 -4 0 0 -17 0 0c0,-1 0,-2 0,-4 0,-1 0,-3 0,-5l0 0c0,1 0,3 0,4 0,2 -1,3 -1,4l-2 18 -4 0c-1,-7 -2,-12 -2,-16 0,-4 -1,-8 -1,-10l0 0c0,1 0,2 0,4 0,2 0,4 0,4l0 18 -4 0z"/>
                    <polygon id="9" class="fil14" points="213,834 213,802 224,802 224,807 218,807 218,815 224,815 224,819 218,819 218,829 224,829 224,834 "/>
                    <path id="10" class="fil14" d="M233 813l0 -5c0,-1 0,-1 0,-2 0,0 -1,0 -1,0l-1 0 0 9 1 0c0,0 1,0 1,0 0,-1 0,-1 0,-2zm-7 -11l5 0c3,0 4,1 5,2 1,1 2,2 2,4l0 4c0,1 0,3 -1,3 -1,1 -2,2 -4,2l0 0c2,0 3,1 4,1 1,1 1,2 1,4l0 6c0,1 0,3 0,4 0,1 1,1 1,2l-5 0c0,-1 0,-1 -1,-2 0,-1 0,-2 0,-3l0 -1 0 -7c0,-1 0,-1 0,-1 -1,-1 -1,-1 -2,-1l0 0 0 15 -5 0 0 -32z"/>
                    <path class="fil14" d="M33 910c0,-2 1,-4 2,-5 1,-1 2,-1 4,-1 2,0 4,0 5,1 1,1 1,3 1,5l0 6 -4 0 0 -7c0,0 -1,-1 -1,-1 0,0 0,0 -1,0 0,0 -1,0 -1,0 0,0 0,1 0,1l0 3c0,0 0,1 0,1 0,1 0,1 0,2l6 6c0,1 1,2 1,3 0,0 0,1 0,2l0 4c0,2 0,3 -1,4 -1,1 -3,2 -5,2 -2,0 -3,-1 -4,-2 -1,-1 -2,-2 -2,-4l0 -7 5 0 0 7c0,1 0,1 0,2 0,0 1,0 1,0 1,0 1,0 1,0 0,-1 1,-1 1,-2l0 -3c0,0 -1,-1 -1,-1 0,-1 0,-1 0,-1l-6 -8c0,0 0,-1 -1,-2 0,0 0,-1 0,-2l0 -3z"/>
                    <polygon id="1" class="fil14" points="47,936 47,905 57,905 57,909 52,909 52,917 57,917 57,921 52,921 52,932 57,932 57,936 "/>
                    <polygon id="2" class="fil14" points="60,936 60,905 64,905 64,918 64,918 68,905 73,905 69,919 73,936 68,936 64,920 64,920 64,936 "/>
                    <path id="3" class="fil14" d="M75 930l0 -25 5 0 0 25c0,1 0,1 1,2 0,0 0,0 1,0 0,0 0,0 1,0 0,-1 0,-1 0,-2l0 -25 5 0 0 25c0,2 -1,3 -2,4 -1,1 -2,2 -4,2 -2,0 -4,-1 -5,-2 -1,-1 -2,-2 -2,-4z"/>
                    <path id="4" class="fil14" d="M90 936l0 -31 7 0 2 12c0,3 0,5 1,8 0,2 0,4 0,7l1 0c0,-3 0,-5 0,-7 0,-2 0,-3 0,-4l-1 -16 4 0 0 31 -7 0 -2 -17c0,-3 -1,-6 -1,-7 0,-1 0,-3 0,-4l0 0c0,3 0,4 0,6 0,1 0,2 0,2l0 20 -4 0z"/>
                    <path id="5" class="fil14" d="M111 908l0 24 1 0c1,0 1,0 2,0 0,-1 0,-1 0,-2l0 -20c0,0 0,-1 0,-1 -1,-1 -1,-1 -2,-1l-1 0zm-4 -3l5 0c3,0 4,0 5,1 1,1 2,2 2,4l0 20c0,2 -1,4 -2,5 -1,1 -2,1 -5,1l-5 0 0 -31z"/>
                    <path id="6" class="fil14" d="M120 936l4 -31 7 0 3 31 -5 0 -1 -9 -2 0 -1 9 -5 0zm6 -13l2 0 0 -7c0,-1 0,-2 0,-3 -1,-1 -1,-2 -1,-4l0 0c0,1 0,2 0,4 0,1 0,2 0,3l-1 7zm-3 -20l0 -5 3 0 0 5 -3 0zm5 0l0 -5 3 0 0 5 -3 0z"/>
                    <path id="7" class="fil14" d="M144 915l0 -5c0,-1 0,-1 -1,-1 0,-1 0,-1 -1,-1l-1 0 0 9 1 0c1,0 1,0 1,0 1,0 1,-1 1,-2zm-8 -10l6 0c2,0 4,0 5,1 1,1 1,2 1,4l0 4c0,2 0,3 -1,4 0,0 -2,1 -3,1l0 0c1,0 2,1 3,2 1,0 1,1 1,3l0 6c0,2 0,3 1,4 0,1 0,1 0,2l-5 0c0,-1 0,-1 0,-2 0,-1 0,-1 0,-2l0 -2 0 -7c0,0 -1,-1 -1,-1 0,-1 -1,-1 -2,-1l0 0 0 15 -5 0 0 -31z"/>
                    <path id="8" class="fil14" d="M151 910c0,-2 1,-4 2,-5 1,-1 2,-1 4,-1 2,0 4,0 5,1 1,1 1,3 1,5l0 6 -5 0 0 -7c0,0 0,-1 0,-1 0,0 0,0 -1,0 0,0 -1,0 -1,0 0,0 0,1 0,1l0 3c0,0 0,1 0,1 0,1 0,1 0,2l5 6c1,1 1,2 2,3 0,0 0,1 0,2l0 4c0,2 0,3 -1,4 -1,1 -3,2 -5,2 -2,0 -3,-1 -4,-2 -1,-1 -2,-2 -2,-4l0 -7 5 0 0 7c0,1 0,1 0,2 0,0 1,0 1,0 1,0 1,0 1,0 0,-1 0,-1 0,-2l0 -3c0,0 0,-1 0,-1 0,-1 0,-1 0,-1l-6 -8c0,0 0,-1 -1,-2 0,0 0,-1 0,-2l0 -3z"/>
                    <path id="9" class="fil14" d="M169 936l0 -12 -5 -19 5 0 2 6c0,1 0,2 0,3 0,2 0,3 0,4l1 0c0,-1 0,-2 0,-3 0,-1 0,-2 1,-3l1 -7 5 0 -5 19 0 12 -5 0z"/>
                    <path id="10" class="fil14" d="M180 910c0,-2 0,-4 1,-5 1,-1 3,-1 5,-1 2,0 3,0 4,1 1,1 2,3 2,5l0 6 -5 0 0 -7c0,0 0,-1 0,-1 0,0 -1,0 -1,0 -1,0 -1,0 -1,0 0,0 -1,1 -1,1l0 3c0,0 1,1 1,1 0,1 0,1 0,2l5 6c1,1 1,2 2,3 0,0 0,1 0,2l0 4c0,2 -1,3 -2,4 -1,1 -2,2 -4,2 -2,0 -4,-1 -5,-2 -1,-1 -1,-2 -1,-4l0 -7 4 0 0 7c0,1 1,1 1,2 0,0 0,0 1,0 0,0 1,0 1,0 0,-1 0,-1 0,-2l0 -3c0,0 0,-1 0,-1 0,-1 0,-1 -1,-1l-5 -8c0,0 -1,-1 -1,-2 0,0 0,-1 0,-2l0 -3z"/>
                    <polygon id="11" class="fil14" points="202,936 197,936 197,909 193,909 193,905 206,905 206,909 202,909 "/>
                    <polygon id="12" class="fil14" points="208,936 208,905 218,905 218,909 213,909 213,917 218,917 218,921 213,921 213,932 218,932 218,936 "/>
                    <path id="13" class="fil14" d="M221 936l0 -31 7 0 1 11 0 1c0,0 0,0 0,1 0,3 0,6 1,10l0 0c0,-2 0,-4 0,-6 0,-2 0,-4 0,-5l2 -12 7 0 0 31 -5 0 0 -16 0 -1c0,0 0,-2 1,-3 0,-2 0,-4 0,-6l-1 0c0,1 0,3 0,4 0,2 0,3 0,4l-2 18 -5 0c-1,-6 -1,-12 -2,-16 0,-4 0,-7 0,-10l-1 0c0,1 0,2 0,4 1,3 1,4 1,4l0 18 -4 0z"/>
                    <path class="fil14" d="M321 195c0,-1 0,-1 0,-2 0,0 0,0 -1,0 0,0 -1,0 -1,0 0,1 0,1 0,2l0 21c0,0 0,1 0,1 0,0 1,0 1,0 1,0 1,0 1,0 0,0 0,-1 0,-1l0 -7 -2 0 0 -4 7 0 0 16 -2 0 -1 -2 0 0c0,1 -1,1 -2,2 0,0 -1,0 -2,0 -2,0 -3,0 -4,-1 -1,-1 -1,-3 -1,-5l0 -20c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 6 -5 0 0 -6z"/>
                    <polygon id="1" class="fil14" points="328,221 328,190 333,190 333,217 339,217 339,221 "/>
                    <path id="2" class="fil14" d="M346 195l0 21c0,1 0,1 0,2 1,0 1,0 1,0 1,0 1,0 1,0 1,-1 1,-1 1,-2l0 -21c0,-1 0,-1 -1,-2 0,0 0,0 -1,0 0,0 0,0 -1,0 0,1 0,1 0,2zm-5 0c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 20c0,2 0,4 -1,5 -1,1 -3,1 -5,1 -2,0 -3,0 -4,-1 -1,-1 -2,-3 -2,-5l0 -20z"/>
                    <path id="3" class="fil14" d="M361 207l0 11 1 0c0,0 1,-1 1,-1 0,0 0,-1 0,-2l0 -6c0,-1 0,-2 0,-2 0,0 -1,0 -1,0l-1 0zm2 -6l0 -5c0,-1 0,-2 0,-2 0,0 -1,0 -1,0l-1 0 0 9 1 0c0,0 1,0 1,-1 0,0 0,-1 0,-1zm-7 -11l5 0c3,0 4,0 5,1 1,1 2,3 2,5l0 4c0,1 0,2 -1,3 -1,1 -2,1 -4,2l0 0c2,0 3,0 4,1 1,1 1,2 1,3l0 7c0,2 -1,3 -2,4 -1,1 -2,1 -5,1l-5 0 0 -31z"/>
                    <path id="4" class="fil14" d="M369 221l4 -31 7 0 3 31 -4 0 -1 -8 -3 0 -1 8 -5 0zm6 -12l2 0 0 -8c0,-1 0,-1 0,-2 0,-1 0,-3 -1,-4l0 0c0,0 0,1 0,3 0,1 0,2 0,3l-1 8z"/>
                    <polygon id="5" class="fil14" points="385,221 385,190 390,190 390,217 395,217 395,221 "/>
                    <path class="fil14" d="M317 909c0,-1 0,-1 -1,-2 0,0 0,0 -1,0 0,0 0,0 -1,0 0,1 0,1 0,2l0 21c0,0 0,1 0,1 1,0 1,0 1,0 1,0 1,0 1,0 1,0 1,-1 1,-1l0 -7 4 0 0 6c0,2 0,4 -1,5 -1,1 -3,1 -5,1 -2,0 -3,0 -4,-1 -1,-1 -2,-3 -2,-5l0 -20c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 6 -4 0 0 -6z"/>
                    <polygon id="1" class="fil14" points="323,935 323,904 328,904 328,916 331,916 331,904 335,904 335,935 331,935 331,920 328,920 328,935 "/>
                    <path id="2" class="fil14" d="M337 935l4 -31 7 0 4 31 -5 0 -1 -8 -3 0 -1 8 -5 0zm6 -12l2 0 0 -8c0,-1 0,-2 0,-2 0,-1 0,-3 0,-4l-1 0c0,0 0,1 0,3 0,1 0,2 0,3l-1 8z"/>
                    <path id="3" class="fil14" d="M353 935l0 -31 8 0 1 13c1,2 1,4 1,7 0,2 1,5 1,7l0 0c0,-2 0,-4 0,-6 0,-2 0,-4 0,-4l0 -17 4 0 0 31 -7 0 -2 -17c-1,-3 -1,-5 -1,-7 0,-1 -1,-2 -1,-3l0 0c0,2 0,4 0,5 0,1 0,2 0,2l0 20 -4 0z"/>
                    <path id="4" class="fil14" d="M378 909c0,-1 0,-1 -1,-2 0,0 0,0 -1,0 0,0 0,0 -1,0 0,1 0,1 0,2l0 20c0,1 0,2 0,2 1,0 1,0 1,0 1,0 1,0 1,0 1,0 1,-1 1,-2l0 -6 -2 0 0 -4 6 0 0 16 -2 0 0 -2 0 0c-1,1 -2,1 -2,2 -1,0 -2,0 -3,0 -1,0 -3,0 -3,-1 -1,-1 -2,-3 -2,-5l0 -20c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 6 -4 0 0 -6z"/>
                    <polygon id="5" class="fil14" points="385,935 385,904 395,904 395,908 389,908 389,916 395,916 395,920 389,920 389,931 395,931 395,935 "/>
                    <path class="fil14" d="M1270 860c0,0 0,-1 0,-1 -1,0 -1,0 -1,0 0,0 -1,0 -1,0 0,0 0,1 0,1l0 13c0,1 0,1 0,1 0,1 1,1 1,1 0,0 0,0 1,-1 0,0 0,0 0,-1l0 -4 3 0 0 4c0,2 -1,3 -1,3 -1,1 -2,1 -3,1 -1,0 -2,0 -3,-1 -1,0 -1,-1 -1,-3l0 -13c0,-1 0,-2 1,-3 1,0 2,0 3,0 1,0 2,0 3,0 0,1 1,2 1,3l0 4 -3 0 0 -4z"/>
                    <polygon id="1" class="fil14" points="1274,877 1274,857 1277,857 1277,865 1279,865 1279,857 1282,857 1282,877 1279,877 1279,867 1277,867 1277,877 "/>
                    <path id="2" class="fil14" d="M1283 877l2 -20 5 0 2 20 -3 0 -1 -5 -1 0 -1 5 -3 0zm4 -8l1 0 0 -5c0,0 0,-1 0,-1 0,-1 0,-2 0,-3l0 0c-1,0 -1,1 -1,2 0,1 0,2 0,2l0 5z"/>
                    <path id="3" class="fil14" d="M1293 877l0 -20 5 0 1 8c0,2 0,3 1,5 0,1 0,3 0,5l0 0c0,-2 0,-4 0,-5 0,-1 0,-2 0,-2l0 -11 3 0 0 20 -5 0 -1 -11c-1,-2 -1,-3 -1,-4 0,-1 0,-2 0,-3l0 0c0,2 0,3 0,4 0,1 0,1 0,1l0 13 -3 0z"/>
                    <path id="4" class="fil14" d="M1309 860c0,0 0,-1 0,-1 0,0 -1,0 -1,0 0,0 0,0 -1,0 0,0 0,1 0,1l0 13c0,1 0,1 0,1 1,1 1,1 1,1 0,0 1,0 1,-1 0,0 0,0 0,-1l0 -4 -1 0 0 -2 4 0 0 10 -2 0 0 -2 0 0c0,1 -1,1 -1,2 0,0 -1,0 -2,0 -1,0 -1,0 -2,-1 -1,-1 -1,-1 -1,-3l0 -13c0,-1 1,-2 1,-3 1,0 2,0 3,0 1,0 2,0 3,0 1,1 1,2 1,3l0 4 -3 0 0 -4z"/>
                    <polygon id="5" class="fil14" points="1313,877 1313,857 1320,857 1320,860 1316,860 1316,865 1320,865 1320,867 1316,867 1316,874 1320,874 1320,877 "/>
                    <path class="fil14" d="M1269 737l0 -20 4 0c1,0 2,0 3,1 1,0 1,1 1,2l0 5c0,2 0,3 -1,3 -1,1 -2,1 -3,1l-1 0 0 8 -3 0zm5 -12l0 -5c0,0 0,0 0,-1 0,0 -1,0 -1,0l-1 0 0 8 1 0c0,0 1,0 1,-1 0,0 0,0 0,-1z"/>
                    <path id="1" class="fil14" d="M1283 724l0 -4c0,0 0,0 0,-1 0,0 0,0 -1,0l-1 0 0 6 1 0c1,0 1,0 1,0 0,0 0,-1 0,-1zm-5 -7l4 0c2,0 3,0 3,1 1,0 1,1 1,2l0 3c0,1 0,2 0,2 -1,1 -2,1 -3,1l0 0c1,0 2,1 3,1 0,1 0,1 0,2l0 4c0,1 0,2 0,3 0,0 1,1 1,1l-3 0c-1,0 -1,-1 -1,-1 0,-1 0,-1 0,-2l0 -1 0 -4c0,-1 0,-1 0,-1 0,0 -1,0 -1,0l-1 0 0 9 -3 0 0 -20z"/>
                    <path id="2" class="fil14" d="M1291 720l0 14c0,0 0,0 0,1 0,0 1,0 1,0 0,0 1,0 1,0 0,-1 0,-1 0,-1l0 -14c0,0 0,-1 0,-1 0,0 -1,0 -1,0 0,0 -1,0 -1,0 0,0 0,1 0,1zm-3 0c0,-1 0,-2 1,-3 1,0 2,-1 3,-1 1,0 2,1 3,1 1,1 1,2 1,3l0 13c0,1 0,2 -1,3 -1,1 -2,1 -3,1 -1,0 -2,0 -3,-1 -1,-1 -1,-2 -1,-3l0 -13z"/>
                    <path id="3" class="fil14" d="M1302 720c0,-1 0,-1 0,-1 0,0 0,0 -1,0 0,0 0,0 0,0 0,0 0,0 0,1l0 13c0,1 0,1 0,1 0,0 0,0 0,0 1,0 1,0 1,0 0,0 0,0 0,-1l0 -4 -1 0 0 -3 4 0 0 11 -1 0 0 -2 -1 0c0,1 0,1 -1,2 0,0 -1,0 -1,0 -1,0 -2,0 -3,-1 0,-1 0,-2 0,-3l0 -13c0,-1 0,-2 0,-3 1,0 2,-1 3,-1 2,0 3,1 3,1 1,1 1,2 1,3l0 4 -3 0 0 -4z"/>
                    <path id="4" class="fil14" d="M1316 737l0 -5 -5 0 0 -2 4 -13 4 0 0 12 1 0 0 3 -1 0 0 5 -3 0zm-2 -8l2 0 0 -7c0,0 0,-1 1,-2l0 -1 -1 0c0,1 0,1 0,2 0,0 0,1 0,1l-2 7z"/>
                    <path class="fil14" d="M1270 597l0 -20 4 0c1,0 2,0 3,1 1,0 1,1 1,2l0 5c0,2 0,3 -1,3 -1,1 -2,1 -3,1l-1 0 0 8 -3 0zm5 -12l0 -5c0,0 0,0 0,-1 0,0 -1,0 -1,0l-1 0 0 8 1 0c0,0 1,-1 1,-1 0,0 0,0 0,-1z"/>
                    <path id="1" class="fil14" d="M1284 584l0 -4c0,0 0,0 0,-1 0,0 -1,0 -1,0l-1 0 0 6 1 0c0,0 1,0 1,0 0,-1 0,-1 0,-1zm-5 -7l4 0c1,0 2,0 3,1 1,0 1,1 1,2l0 3c0,1 0,2 -1,2 0,1 -1,1 -2,1l0 0c1,0 2,1 2,1 1,0 1,1 1,2l0 4c0,1 0,2 0,2 0,1 1,1 1,2l-3 0c-1,0 -1,-1 -1,-1 0,-1 0,-1 0,-2l0 -1 0 -4c0,-1 0,-1 0,-1 -1,0 -1,-1 -2,-1l0 0 0 10 -3 0 0 -20z"/>
                    <path id="2" class="fil14" d="M1292 580l0 14c0,0 0,0 0,1 0,0 1,0 1,0 0,0 0,0 1,0 0,-1 0,-1 0,-1l0 -14c0,-1 0,-1 0,-1 -1,0 -1,0 -1,0 0,0 -1,0 -1,0 0,0 0,0 0,1zm-3 0c0,-1 0,-2 1,-3 1,0 2,-1 3,-1 1,0 2,1 3,1 0,1 1,2 1,3l0 13c0,1 -1,2 -1,3 -1,1 -2,1 -3,1 -1,0 -2,0 -3,-1 -1,-1 -1,-2 -1,-3l0 -13z"/>
                    <path id="3" class="fil14" d="M1303 580c0,-1 0,-1 0,-1 0,0 0,0 -1,0 0,0 0,0 0,0 -1,0 -1,0 -1,1l0 13c0,1 0,1 1,1 0,0 0,0 0,0 1,0 1,0 1,0 0,0 0,0 0,-1l0 -4 -1 0 0 -3 4 0 0 10 -1 0 -1 -1 0 0c0,1 0,1 -1,1 0,1 -1,1 -1,1 -1,0 -2,0 -3,-1 0,-1 -1,-2 -1,-3l0 -13c0,-1 1,-2 1,-3 1,0 2,-1 3,-1 2,0 3,1 3,1 1,1 1,2 1,3l0 4 -3 0 0 -4z"/>
                    <path id="4" class="fil14" d="M1312 589l3 0 0 4c0,1 0,1 1,1 0,0 0,0 0,0 0,0 1,0 1,0 0,0 0,0 0,-1l0 -4c0,0 0,-1 0,-1 -1,0 -1,0 -1,0l-1 0 0 -3 1 0c0,0 0,0 1,0 0,0 0,-1 0,-1l0 -4c0,0 0,-1 0,-1 0,0 0,0 0,0 0,0 0,0 0,0 0,0 -1,0 -1,0 0,0 0,0 0,0 -1,0 -1,0 -1,1l0 4 -3 0 0 -4c0,-1 1,-2 1,-3 1,0 2,-1 3,-1 1,0 2,1 3,1 1,1 1,2 1,3l0 3c0,1 0,2 -1,3 0,0 0,0 -1,1 1,0 1,0 2,0 0,1 0,1 0,2l0 4c0,1 0,2 -1,3 -1,1 -2,1 -3,1 -1,0 -2,0 -3,-1 0,-1 -1,-2 -1,-3l0 -4z"/>
                    <path class="fil14" d="M1270 457l0 -20 4 0c1,0 2,0 3,0 1,1 1,2 1,3l0 5c0,1 0,2 -1,3 -1,1 -2,1 -3,1l-1 0 0 8 -3 0zm5 -12l0 -5c0,0 0,-1 0,-1 0,0 -1,0 -1,0l-1 0 0 7 1 0c0,0 1,0 1,0 0,0 0,0 0,-1z"/>
                    <path id="1" class="fil14" d="M1284 443l0 -3c0,0 0,-1 0,-1 0,0 -1,0 -1,0l-1 0 0 6 1 0c0,0 1,0 1,-1 0,0 0,0 0,-1zm-5 -6l4 0c1,0 2,0 3,0 1,1 1,2 1,3l0 3c0,1 0,1 -1,2 0,0 -1,1 -2,1l0 0c1,0 2,0 2,1 1,0 1,1 1,2l0 4c0,1 0,2 0,2 0,1 1,1 1,2l-3 0c-1,-1 -1,-1 -1,-1 0,-1 0,-1 0,-2l0 -1 0 -4c0,-1 0,-1 0,-1 -1,-1 -1,-1 -2,-1l0 0 0 10 -3 0 0 -20z"/>
                    <path id="2" class="fil14" d="M1292 440l0 13c0,1 0,1 0,1 0,1 1,1 1,1 0,0 0,0 1,-1 0,0 0,0 0,-1l0 -13c0,-1 0,-1 0,-1 -1,0 -1,0 -1,0 0,0 -1,0 -1,0 0,0 0,0 0,1zm-3 0c0,-1 0,-2 1,-3 1,-1 2,-1 3,-1 1,0 2,0 3,1 0,1 1,2 1,3l0 13c0,1 -1,2 -1,3 -1,0 -2,1 -3,1 -1,0 -2,-1 -3,-1 -1,-1 -1,-2 -1,-3l0 -13z"/>
                    <path id="3" class="fil14" d="M1303 440c0,-1 0,-1 0,-1 0,0 0,-1 -1,-1 0,0 0,1 0,1 -1,0 -1,0 -1,1l0 13c0,0 0,1 1,1 0,0 0,0 0,0 1,0 1,0 1,0 0,0 0,-1 0,-1l0 -4 -1 0 0 -3 4 0 0 10 -1 0 -1 -1 0 0c0,1 0,1 -1,1 0,1 -1,1 -1,1 -1,0 -2,-1 -3,-1 0,-1 -1,-2 -1,-3l0 -13c0,-1 1,-2 1,-3 1,-1 2,-1 3,-1 2,0 3,0 3,1 1,1 1,2 1,3l0 4 -3 0 0 -4z"/>
                    <path id="4" class="fil14" d="M1316 454l4 0 0 3 -8 0c0,0 0,-1 0,-1 0,0 0,0 0,0 0,-1 0,-3 1,-4 0,-1 0,-2 1,-3 0,-1 1,-1 1,-2 1,-2 2,-4 2,-6l0 -1c0,-1 0,-1 0,-1 0,0 0,0 -1,0 0,0 0,0 0,0 -1,0 -1,0 -1,1l0 4 -3 0 0 -4c0,-1 1,-2 1,-3 1,-1 2,-1 3,-1 2,0 3,0 3,1 1,1 1,1 1,3l0 2c0,1 -1,3 -2,5 0,1 0,1 0,1 -1,2 -2,3 -2,4 0,1 0,2 0,2z"/>
                    <path class="fil14" d="M1272 317l0 -21 4 0c1,0 2,1 3,1 1,1 1,2 1,3l0 5c0,1 0,2 -1,3 -1,0 -2,1 -3,1l-1 0 0 8 -3 0zm5 -12l0 -5c0,0 0,-1 0,-1 -1,0 -1,0 -1,0l-1 0 0 7 1 0c0,0 0,0 1,0 0,0 0,-1 0,-1z"/>
                    <path id="1" class="fil14" d="M1286 303l0 -3c0,0 0,-1 0,-1 0,0 -1,0 -1,0l-1 0 0 6 1 0c0,0 1,0 1,-1 0,0 0,0 0,-1zm-5 -7l4 0c1,0 2,1 3,1 1,1 1,2 1,3l0 2c0,1 0,2 -1,3 0,0 -1,1 -2,1l0 0c1,0 2,0 2,1 1,0 1,1 1,2l0 4c0,1 0,2 0,2 0,1 0,1 1,2l-4 0c0,-1 0,-1 0,-2 0,0 0,-1 0,-1l0 -1 0 -5c0,0 0,0 0,-1 -1,0 -1,0 -2,0l0 0 0 10 -3 0 0 -21z"/>
                    <path id="2" class="fil14" d="M1294 300l0 13c0,1 0,1 0,1 0,0 0,1 1,1 0,0 0,-1 0,-1 1,0 1,0 1,-1l0 -13c0,-1 0,-1 -1,-1 0,-1 0,-1 0,-1 -1,0 -1,0 -1,1 0,0 0,0 0,1zm-3 0c0,-1 0,-2 1,-3 1,-1 2,-1 3,-1 1,0 2,0 3,1 0,1 1,2 1,3l0 13c0,1 -1,2 -1,3 -1,0 -2,1 -3,1 -1,0 -2,-1 -3,-1 -1,-1 -1,-2 -1,-3l0 -13z"/>
                    <path id="3" class="fil14" d="M1305 299c0,0 0,0 0,0 0,-1 -1,-1 -1,-1 0,0 0,0 0,1 -1,0 -1,0 -1,0l0 14c0,0 0,1 1,1 0,0 0,0 0,0 0,0 1,0 1,0 0,0 0,-1 0,-1l0 -4 -1 0 0 -3 4 0 0 10 -1 0 -1 -1 0 0c0,0 0,1 -1,1 0,0 -1,1 -2,1 -1,0 -1,-1 -2,-1 0,-1 -1,-2 -1,-3l0 -13c0,-2 1,-2 1,-3 1,-1 2,-1 3,-1 1,0 2,0 3,1 1,1 1,1 1,3l0 4 -3 0 0 -5z"/>
                    <path id="4" class="fil14" d="M1317 317l0 -16 -3 0 0 -2c1,0 2,0 3,-1 0,0 0,-1 0,-2l0 0 3 0 0 21 -3 0z"/>
                    <path class="fil17" d="M1619 74l0 -53 12 0 2 20 0 0c0,0 0,1 0,2 1,6 1,11 1,17l1 0c0,-3 0,-7 0,-10 0,-3 0,-6 1,-9l2 -20 12 0 0 53 -8 0 0 -28 0 -1c0,-1 0,-3 1,-6 0,-3 0,-6 0,-10l-1 0c0,3 0,6 0,8 0,3 -1,5 -1,6l-3 31 -8 0c-1,-11 -2,-20 -3,-27 0,-7 -1,-13 -1,-18l-1 0c0,2 0,5 1,7 0,5 0,8 0,8l0 30 -7 0z"/>
                    <polygon id="1" class="fil17" points="1662,74 1654,74 1654,21 1662,21 "/>
                    <polygon id="2" class="fil17" points="1665,74 1665,21 1683,21 1683,28 1673,28 1673,41 1683,41 1683,48 1673,48 1673,67 1683,67 1683,74 "/>
                    <polygon id="3" class="fil17" points="1701,74 1693,74 1693,27 1686,27 1686,21 1708,21 1708,27 1701,27 "/>
                    <polygon id="4" class="fil17" points="1710,74 1710,68 1719,27 1710,27 1710,21 1728,21 1728,27 1718,67 1728,67 1728,74 "/>
                    <polygon id="5" class="fil17" points="1731,74 1731,21 1739,21 1739,41 1743,41 1743,21 1751,21 1751,74 1743,74 1743,48 1739,48 1739,74 "/>
                    <path id="6" class="fil17" d="M1754 74l7 -53 12 0 6 53 -8 0 -2 -14 -5 0 -2 14 -8 0zm11 -21l3 0 0 -14c0,-1 -1,-2 -1,-4 0,-1 0,-3 0,-6l-1 0c0,0 0,2 0,5 0,2 0,4 0,6l-1 13z"/>
                    <path id="7" class="fil17" d="M1783 64l0 -43 8 0 0 43c0,1 0,2 1,3 0,0 0,0 1,0 1,0 2,0 2,0 0,-1 1,-2 1,-3l0 -43 8 0 0 43c0,3 -1,6 -3,7 -2,2 -4,3 -8,3 -3,0 -6,-1 -7,-3 -2,-1 -3,-4 -3,-7z"/>
                    <path id="8" class="fil17" d="M1807 29c0,-3 1,-5 3,-7 1,-2 4,-2 7,-2 4,0 6,0 8,2 2,2 2,4 2,7l0 11 -7 0 0 -11c0,-1 -1,-2 -1,-3 0,0 -1,0 -2,0 -1,0 -1,0 -2,0 0,1 0,2 0,3l0 4c0,1 0,2 0,3 0,0 1,1 1,2l9 11c1,2 1,3 2,4 0,1 0,3 0,4l0 7c0,3 0,6 -2,7 -2,2 -4,3 -8,3 -3,0 -6,-1 -7,-3 -2,-1 -3,-4 -3,-7l0 -11 8 0 0 11c0,1 0,2 0,3 1,0 1,0 2,0 1,0 2,0 2,0 0,-1 1,-2 1,-3l0 -5c0,-1 -1,-2 -1,-2 0,-1 0,-2 -1,-2l-9 -13c-1,-1 -1,-2 -2,-3 0,-1 0,-2 0,-4l0 -6z"/>
                    <path class="fil17" d="M1493 1016c0,-4 1,-6 3,-8 2,-2 4,-2 8,-2 3,0 6,0 7,2 2,2 3,4 3,8l0 10 -8 0 0 -11c0,-1 0,-2 -1,-2 0,-1 -1,-1 -1,-1 -1,0 -2,0 -2,1 -1,0 -1,1 -1,2l0 4c0,1 0,2 0,3 1,1 1,1 1,2l9 12c1,1 2,3 2,4 1,1 1,2 1,4l0 7c0,3 -1,5 -3,7 -1,2 -4,3 -7,3 -4,0 -6,-1 -8,-3 -2,-2 -3,-4 -3,-7l0 -12 8 0 0 12c0,1 0,2 1,2 0,1 1,1 2,1 0,0 1,0 1,-1 1,0 1,-1 1,-2l0 -6c0,0 0,-1 0,-2 -1,0 -1,-1 -1,-2l-10 -12c0,-1 -1,-2 -1,-3 -1,-2 -1,-3 -1,-5l0 -5z"/>
                    <path id="1" class="fil17" d="M1527 1015l0 37c0,1 0,2 0,2 1,1 1,1 2,1 1,0 2,0 2,-1 0,0 1,-1 1,-2l0 -37c0,-1 -1,-2 -1,-2 0,-1 -1,-1 -2,-1 -1,0 -1,0 -2,1 0,0 0,1 0,2zm-8 1c0,-4 1,-6 2,-8 2,-2 5,-2 8,-2 4,0 6,0 8,2 2,2 3,4 3,8l0 35c0,3 -1,5 -3,7 -2,2 -4,3 -8,3 -3,0 -6,-1 -8,-3 -1,-2 -2,-4 -2,-7l0 -35z"/>
                    <path id="2" class="fil17" d="M1544 1061l0 -54 12 0 3 22c0,4 1,8 1,12 1,4 1,9 2,13l0 0c0,-4 0,-8 0,-12 0,-3 0,-5 0,-7l0 -28 6 0 0 54 -12 0 -4 -30c0,-5 -1,-9 -1,-12 0,-2 -1,-4 -1,-6l0 0c0,4 0,7 0,9 0,3 0,4 0,5l0 34 -6 0z"/>
                    <polygon id="3" class="fil17" points="1585,1042 1585,1036 1594,1036 1594,1042 "/>
                    <path id="4" class="fil17" d="M1617 1061l0 -41 -6 0 0 -6c2,0 4,-1 5,-2 2,-1 2,-3 2,-5l0 0 7 0 0 54 -8 0z"/>
                    <path id="5" class="fil17" d="M1630 1040l8 0 0 11c0,1 0,2 0,2 1,1 1,1 2,1 1,0 2,0 2,-1 0,0 0,-1 0,-2l0 -10c0,-2 0,-3 0,-4 -1,0 -2,-1 -4,-1l0 0 0 -6 1 0c1,0 2,0 3,-1 0,-1 0,-2 0,-3l0 -11c0,0 0,-1 0,-1 0,0 0,0 0,0 0,-1 0,-1 0,-2 -1,0 -1,0 -2,0 -1,0 -1,0 -2,1 0,0 0,1 0,2l0 11 -8 0 0 -10c0,-4 1,-6 2,-8 2,-2 5,-2 8,-2 4,0 6,0 8,2 2,2 3,4 3,8l0 9c0,2 -1,4 -2,6 -1,1 -3,2 -5,2 3,1 4,1 5,2 1,1 2,3 2,5l0 11c0,3 -1,6 -3,7 -2,2 -4,3 -8,3 -3,0 -6,-1 -8,-3 -1,-1 -2,-4 -2,-7l0 -11z"/>
                    <polygon id="6" class="fil17" points="1655,1061 1655,1052 1662,1052 1662,1061 "/>
                    <path id="7" class="fil17" d="M1675 1015l0 37c0,1 0,2 0,2 1,1 1,1 2,1 1,0 2,0 2,-1 0,0 1,-1 1,-2l0 -37c0,-1 -1,-2 -1,-2 0,-1 -1,-1 -2,-1 -1,0 -1,0 -2,1 0,0 0,1 0,2zm-8 1c0,-4 1,-6 2,-8 2,-2 5,-2 8,-2 4,0 6,0 8,2 2,2 3,4 3,8l0 36c0,3 -1,6 -3,7 -2,2 -4,3 -8,3 -3,0 -6,-1 -8,-3 -1,-1 -2,-4 -2,-7l0 -36z"/>
                    <path id="8" class="fil17" d="M1692 1040l8 0 0 11c0,1 0,2 0,2 1,1 1,1 2,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -10c0,-2 0,-3 -1,-4 0,0 -1,-1 -3,-1l0 0 0 -6 0 0c2,0 3,0 3,-1 1,-1 1,-2 1,-3l0 -11c0,0 0,-1 0,-1 0,0 0,0 0,0 0,-1 0,-1 0,-2 -1,0 -1,0 -2,0 -1,0 -1,0 -2,1 0,0 0,1 0,2l0 11 -8 0 0 -10c0,-4 0,-6 2,-8 2,-2 5,-2 8,-2 3,0 6,0 8,2 1,2 2,4 2,8l0 9c0,2 0,4 -1,6 -1,1 -3,2 -5,2 3,1 4,1 5,2 1,1 1,3 1,5l0 11c0,3 -1,6 -2,7 -2,2 -5,3 -8,3 -3,0 -6,-1 -8,-3 -2,-1 -2,-4 -2,-7l0 -11z"/>
                    <polygon id="9" class="fil17" points="1717,1061 1717,1052 1724,1052 1724,1061 "/>
                    <path id="10" class="fil17" d="M1738 1054l11 0 0 7 -21 0c0,-1 0,-1 0,-1 0,-1 0,-1 0,-2 0,-3 1,-6 1,-9 1,-3 3,-6 5,-10 0,-1 1,-3 2,-5 4,-6 5,-10 5,-14l0 -5c0,-1 0,-2 0,-2 0,-1 -1,-1 -2,-1 -1,0 -1,0 -2,1 0,1 0,1 0,2l0 10 -8 0 0 -9c0,-3 1,-6 2,-8 2,-2 5,-2 8,-2 4,0 6,0 8,2 2,1 3,4 3,7l0 6c0,4 -2,9 -5,15 -1,1 -1,2 -2,2 -2,4 -3,8 -4,10 -1,2 -1,4 -1,6z"/>
                    <path id="11" class="fil17" d="M1761 1015l0 37c0,1 1,2 1,2 0,1 1,1 2,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -37c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1 -1,0 -2,0 -2,1 0,0 -1,1 -1,2zm-8 1c0,-4 1,-6 3,-8 2,-2 4,-2 8,-2 3,0 6,0 8,2 1,2 2,4 2,8l0 36c0,3 -1,6 -2,7 -2,2 -5,3 -8,3 -4,0 -6,-1 -8,-3 -2,-1 -3,-4 -3,-7l0 -36z"/>
                    <path id="12" class="fil17" d="M1785 1061l0 -41 -6 0 0 -6c2,0 4,-1 5,-2 2,-1 2,-3 2,-5l0 0 7 0 0 54 -8 0z"/>
                    <path id="13" class="fil17" d="M1798 1043l8 0 0 8c0,1 0,2 0,2 1,1 1,1 2,1 1,0 2,0 2,-1 0,0 1,-1 1,-2l0 -12c-1,1 -2,2 -3,2 -1,1 -2,1 -3,1 -3,0 -4,-1 -5,-2 -2,-2 -2,-4 -2,-6l0 -18c0,-4 1,-6 2,-8 2,-2 5,-2 8,-2 4,0 6,0 8,2 2,2 3,4 3,8l0 35c0,3 -1,5 -3,7 -2,2 -4,3 -8,3 -3,0 -6,-1 -8,-3 -1,-2 -2,-4 -2,-7l0 -8zm13 -11l0 -16c0,-2 -1,-2 -1,-3 0,0 -1,-1 -2,-1 -1,0 -1,1 -2,1 0,1 0,1 0,3l0 16c0,1 0,2 0,2 1,1 1,1 2,1 1,0 2,0 2,-1 0,0 1,-1 1,-2z"/>
                    <rect class="fil18 str1" x="436" y="183" width="743" height="407"/>
                    <rect class="fil18 str2" x="1114" y="215" width="43.7799" height="204.933"/>
                    <rect class="fil18 str3" x="1128" y="228" width="16.7683" height="78.6541"/>
                    <rect class="fil18 str3" x="1128" y="325" width="16.7683" height="81.8404"/>
                    <circle class="fil18 str3" cx="955" cy="319" r="12"/>
                    <circle class="fil19 str4" cx="993" cy="482" r="7"/>
                    <circle class="fil19 str4" cx="902" cy="482" r="7"/>
                    <circle class="fil19 str4" cx="811" cy="482" r="7"/>
                    <circle class="fil19 str4" cx="765" cy="520" r="7"/>
                    <circle class="fil19 str4" cx="765" cy="560" r="7"/>
                    <circle class="fil18 str4" cx="558" cy="319" r="15"/>
                    <circle class="fil18 str4" cx="604" cy="319" r="15"/>
                    <circle class="fil18 str4" cx="651" cy="319" r="15"/>
                    <rect class="fil18 str2" x="531" y="293" width="146.25" height="53.0965"/>
                    <rect class="fil18 str2" x="929" y="293" width="53.0965" height="53.0965"/>
                    <rect class="fil18 str2" x="869" y="523" width="194.688" height="48.4382"/>
                    <rect class="fil18 str4" x="885" y="548" width="163.015" height="11.1782"/>
                    <polygon class="fil18 str2" points="1065,466 749,466 749,575 782,575 782,496 1065,497 "/>



                    <path class="fil20" d="M475 691l156 0c22,0 39,18 39,39l0 0c0,21 -17,39 -39,39l-156 0c-22,0 -39,-18 -39,-39l0 0c0,-21 17,-39 39,-39z"/>
                    <path class="fil20" d="M475 868l156 0c22,0 39,18 39,39l0 0c0,22 -17,39 -39,39l-156 0c-22,0 -39,-17 -39,-39l0 0c0,-21 17,-39 39,-39z"/>
                    <path class="fil20" d="M726 868l157 0c21,0 39,18 39,39l0 0c0,22 -18,39 -39,39l-157 0c-21,0 -39,-17 -39,-39l0 0c0,-21 18,-39 39,-39z"/>
                    <path class="fil2" d="M978 868l156 0c22,0 39,18 39,39l0 0c0,22 -17,39 -39,39l-156 0c-22,0 -39,-17 -39,-39l0 0c0,-21 17,-39 39,-39z"/>
                    <rect class="fil3" transform="matrix(3.14247E-14 -1.20082 -1.18653 -3.18032E-14 1880.5 572.393)" width="321.028" height="78.5504" rx="39" ry="39"/>
                    <rect class="fil18 str0" x="1787" y="471" width="99.926" height="32.0055"/>
                    <path class="fil16" d="M548 751l0 -48 11 0 2 19 0 0c0,0 0,1 0,2 0,5 1,10 1,15l0 0c0,-3 0,-6 0,-9 1,-3 1,-5 1,-8l2 -19 11 0 0 48 -7 0 0 -25 0 0c0,-1 0,-3 0,-6 0,-2 0,-5 0,-9l0 0c0,3 0,5 0,7 0,3 -1,4 -1,6l-3 27 -7 0c-1,-9 -2,-17 -2,-24 -1,-6 -2,-11 -2,-16l0 0c0,2 0,4 0,7 0,4 0,6 0,7l0 26 -6 0z"/>
                    <path id="1" class="fil16" d="M578 751l6 -48 11 0 5 48 -7 0 -2 -12 -4 0 -2 12 -7 0zm10 -19l3 0 -1 -12c0,-1 0,-2 0,-3 0,-2 0,-4 -1,-6l0 0c0,0 0,2 0,5 0,2 -1,3 -1,4l0 12z"/>
                    <polygon id="2" class="fil16" points="610,751 603,751 603,703 610,703 "/>
                    <path id="3" class="fil16" d="M614 751l0 -48 11 0 2 20c1,4 1,7 2,11 0,4 0,8 1,12l0 -1c0,-3 0,-7 0,-10 0,-3 0,-5 0,-6l0 -26 6 0 0 48 -11 0 -3 -26c-1,-5 -1,-8 -2,-10 0,-2 0,-4 0,-6l-1 0c0,4 0,7 0,8 0,2 0,4 0,4l1 30 -6 0z"/>

                    <polygon class="fil16" points="550,931 543,931 543,889 536,889 536,882 556,882 556,889 550,889 "/>
                    <path id="1" class="fil16" d="M556 931l6 -49 11 0 5 49 -7 0 -2 -13 -4 0 -2 13 -7 0zm9 -20l4 0 -1 -12c0,-1 0,-2 0,-3 -1,-2 -1,-4 -1,-6l0 0c0,0 0,2 -1,5 0,2 0,3 0,5l-1 11z"/>
                    <path id="2" class="fil16" d="M588 908l0 17 1 0c1,0 2,-1 2,-1 1,-1 1,-1 1,-2l0 -11c0,-1 0,-2 -1,-2 0,-1 -1,-1 -2,-1l-1 0zm4 -9l0 -8c0,-1 0,-2 -1,-2 0,-1 -1,-1 -2,-1l-1 0 0 14 1 0c1,0 2,0 2,-1 1,0 1,-1 1,-2zm-11 -16l8 0c4,0 6,0 8,2 1,1 2,3 2,6l0 7c0,2 0,3 -2,4 -1,2 -3,3 -5,3l0 0c2,0 4,1 5,2 2,1 2,3 2,5l0 10c0,3 -1,5 -2,6 -2,2 -4,3 -8,3l-8 0 0 -48z"/>
                    <polygon id="3" class="fil16" points="601,931 601,882 608,882 608,924 617,924 617,931 "/>
                    <polygon id="4" class="fil16" points="620,931 620,882 636,882 636,889 627,889 627,901 636,901 636,907 627,907 627,924 636,924 636,931 "/>

                    <g @click="toggleTV">
                        <path class="fil7" d="M978 691l156 0c22,0 39,18 39,39l0 0c0,21 -17,39 -39,39l-156 0c-22,0 -39,-18 -39,-39l0 0c0,-21 17,-39 39,-39z"/>
                        <polygon class="fil16" points="1091,751 1091,703 1098,703 1098,722 1102,722 1102,703 1109,703 1109,751 1102,751 1102,728 1098,728 1098,751 "/>
                        <polygon id="1" class="fil16" points="1120,751 1113,751 1113,703 1120,703 "/>
                        <polygon id="2" class="fil16" points="1123,751 1123,703 1139,703 1139,710 1130,710 1130,722 1139,722 1139,728 1130,728 1130,751 "/>
                        <polygon id="3" class="fil16" points="1150,751 1142,751 1142,703 1150,703 "/>
                    </g>
                    <g :class="corridor && 'button--active'" @click="switchCorridorLight">
                        <path class="fil20" d="M978 780l156 0c22,0 39,17 39,39l0 0c0,21 -17,39 -39,39l-156 0c-22,0 -39,-18 -39,-39l0 0c0,-22 17,-39 39,-39z"/>
                        <polygon class="fil16" points="1073,842 1073,794 1089,794 1089,801 1080,801 1080,813 1089,813 1089,819 1080,819 1080,842 "/>
                        <path id="1" class="fil16" d="M1103 811l0 -8c0,-1 0,-2 0,-3 -1,0 -2,0 -2,0l-2 0 0 14 2 0c0,0 1,-1 2,-1 0,-1 0,-1 0,-2zm-11 -17l8 0c4,0 6,1 8,2 2,1 2,4 2,7l0 5c0,3 0,5 -1,6 -1,1 -3,2 -6,3l0 0c3,0 4,0 6,2 1,1 1,2 1,4l0 10c0,2 0,4 1,6 0,1 0,2 1,3l-8 0c0,-1 0,-2 -1,-3 0,-1 0,-2 0,-4l0 -2 0 -10c0,-1 0,-2 -1,-3 0,0 -1,0 -3,0l0 0 0 22 -7 0 0 -48z"/>
                        <polygon id="2" class="fil16" points="1115,842 1115,794 1131,794 1131,801 1122,801 1122,813 1130,813 1130,819 1122,819 1122,835 1131,835 1131,842 "/>
                        <polygon id="3" class="fil16" points="1134,842 1134,794 1150,794 1150,801 1141,801 1141,813 1149,813 1149,819 1141,819 1141,835 1150,835 1150,842 "/>
                    </g>
                    <g :class="outputs[257] && 'button--active'" class="effect-157" @click="toggle(157)">
                        <path class="fil20" d="M475 780l156 0c22,0 39,17 39,39l0 0c0,21 -17,39 -39,39l-156 0c-22,0 -39,-18 -39,-39l0 0c0,-22 17,-39 39,-39z"/>
                        <path class="fil16" d="M534 819l0 17 1 0c1,0 2,0 2,-1 1,0 1,-1 1,-2l0 -11c0,-1 0,-1 -1,-2 0,0 -1,-1 -2,-1l-1 0zm4 -9l0 -7c0,-2 0,-2 -1,-3 0,0 -1,-1 -2,-1l-1 0 0 15 1 0c1,0 2,-1 2,-1 1,-1 1,-2 1,-3zm-11 -16l8 0c4,0 6,1 8,2 1,1 2,4 2,7l0 6c0,2 0,4 -2,5 -1,1 -3,2 -5,2l0 1c2,0 4,0 5,2 2,1 2,2 2,4l0 10c0,3 -1,5 -2,7 -2,1 -4,2 -8,2l-8 0 0 -48z"/>
                        <path id="1" class="fil16" d="M556 801l0 33c0,1 0,2 1,2 0,1 0,1 1,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -33c0,-1 0,-1 0,-2 -1,0 -1,0 -2,0 -1,0 -1,0 -1,0 -1,1 -1,1 -1,2zm-7 1c0,-3 1,-5 2,-7 2,-1 4,-2 7,-2 3,0 5,1 7,2 2,2 2,4 2,7l0 31c0,3 0,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -31z"/>
                        <path id="2" class="fil16" d="M570 842l6 -48 11 0 5 48 -7 0 -2 -13 -4 0 -2 13 -7 0zm9 -19l4 0 -1 -12c0,-1 0,-2 0,-4 0,-1 -1,-3 -1,-6l0 0c0,1 0,2 -1,5 0,2 0,4 0,5l-1 12z"/>
                        <path id="3" class="fil16" d="M606 810l0 -7c0,-2 -1,-2 -1,-3 0,0 -1,-1 -2,-1l-2 0 0 15 2 0c1,0 2,-1 2,-1 0,-1 1,-2 1,-3zm-12 -16l9 0c3,0 6,1 8,2 1,1 2,4 2,7l0 5c0,3 -1,5 -2,6 -1,1 -3,2 -5,2l0 1c2,0 4,0 5,1 1,1 2,3 2,5l0 10c0,2 0,4 0,5 0,2 1,3 1,4l-7 0c-1,-1 -1,-2 -1,-3 0,-1 0,-2 0,-4l0 -2 0 -11c0,-1 -1,-1 -1,-2 -1,0 -2,-1 -3,-1l-1 0 0 23 -7 0 0 -48z"/>
                        <path id="4" class="fil16" d="M625 799l0 37 1 0c1,0 2,0 2,-1 1,0 1,-1 1,-2l0 -30c0,-2 0,-2 -1,-3 0,0 -1,-1 -2,-1l-1 0zm-8 -5l9 0c3,0 6,1 8,2 1,1 2,4 2,7l0 30c0,3 -1,5 -2,7 -2,1 -5,2 -8,2l-9 0 0 -48z"/>
                    </g>
                    <g :class="outputs[256] && 'button--active'" class="effect-156" @click="toggle(156)">
                        <path class="fil20" d="M726 780l157 0c21,0 39,17 39,39l0 0c0,21 -18,39 -39,39l-157 0c-21,0 -39,-18 -39,-39l0 0c0,-22 18,-39 39,-39z"/>
                        <path class="fil16" d="M707 801c0,-1 0,-2 0,-2 -1,0 -1,-1 -2,-1 -1,0 -1,1 -2,1 0,0 0,1 0,2l0 32c0,1 0,2 0,2 1,1 1,1 2,1 1,0 1,0 2,-1 0,0 0,-1 0,-2l0 -10 7 0 0 10c0,3 -1,5 -2,7 -2,1 -4,2 -7,2 -3,0 -5,-1 -7,-2 -2,-2 -2,-4 -2,-7l0 -31c0,-3 0,-5 2,-7 2,-1 4,-2 7,-2 3,0 5,1 7,2 1,2 2,4 2,7l0 9 -7 0 0 -10z"/>
                        <path id="1" class="fil16" d="M724 801l0 33c0,1 0,2 1,2 0,1 1,1 1,1 1,0 2,0 2,-1 0,0 0,-1 0,-2l0 -33c0,-1 0,-1 0,-2 0,0 -1,0 -2,0 0,0 -1,0 -1,0 -1,1 -1,1 -1,2zm-7 1c0,-3 1,-5 2,-7 2,-1 4,-2 7,-2 3,0 6,1 7,2 2,2 3,4 3,7l0 31c0,3 -1,5 -3,7 -1,1 -4,2 -7,2 -3,0 -5,-1 -7,-2 -1,-2 -2,-4 -2,-7l0 -31z"/>
                        <path id="2" class="fil16" d="M750 810l0 -7c0,-2 0,-2 -1,-3 0,0 -1,-1 -2,-1l-1 0 0 15 1 0c1,0 2,-1 2,-1 1,-1 1,-2 1,-3zm-11 -16l8 0c4,0 6,1 8,2 1,1 2,4 2,7l0 5c0,3 0,5 -1,6 -1,1 -3,2 -6,2l0 1c3,0 4,0 6,1 1,1 1,3 1,5l0 10c0,2 0,4 1,5 0,2 0,3 1,4l-8 0c0,-1 -1,-2 -1,-3 0,-1 0,-2 0,-4l0 -2 0 -11c0,-1 0,-1 -1,-2 -1,0 -1,-1 -3,-1l0 0 0 23 -7 0 0 -48z"/>
                        <path id="3" class="fil16" d="M773 810l0 -7c0,-2 0,-2 -1,-3 0,0 -1,-1 -2,-1l-1 0 0 15 1 0c1,0 2,-1 2,-1 1,-1 1,-2 1,-3zm-12 -16l9 0c3,0 6,1 8,2 1,1 2,4 2,7l0 5c0,3 -1,5 -2,6 -1,1 -3,2 -5,2l0 1c2,0 4,0 5,1 1,1 2,3 2,5l0 10c0,2 0,4 0,5 1,2 1,3 1,4l-7 0c-1,-1 -1,-2 -1,-3 0,-1 0,-2 0,-4l0 -2 0 -11c0,-1 0,-1 -1,-2 -1,0 -2,-1 -3,-1l0 0 0 23 -8 0 0 -48z"/>
                        <polygon id="4" class="fil16" points="792,842 785,842 785,794 792,794 "/>
                        <path id="5" class="fil16" d="M803 799l0 37 1 0c1,0 2,0 2,-1 1,0 1,-1 1,-2l0 -30c0,-2 0,-2 -1,-3 0,0 -1,-1 -2,-1l-1 0zm-8 -5l9 0c3,0 6,1 8,2 1,1 2,4 2,7l0 30c0,3 -1,5 -2,7 -2,1 -5,2 -8,2l-9 0 0 -48z"/>
                        <path id="6" class="fil16" d="M824 801l0 33c0,1 1,2 1,2 0,1 1,1 1,1 1,0 2,0 2,-1 0,0 1,-1 1,-2l0 -33c0,-1 -1,-1 -1,-2 0,0 -1,0 -2,0 0,0 -1,0 -1,0 0,1 -1,1 -1,2zm-7 1c0,-3 1,-5 3,-7 1,-1 3,-2 6,-2 4,0 6,1 7,2 2,2 3,4 3,7l0 31c0,3 -1,5 -3,7 -1,1 -3,2 -7,2 -3,0 -5,-1 -6,-2 -2,-2 -3,-4 -3,-7l0 -31z"/>
                        <path id="7" class="fil16" d="M850 810l0 -7c0,-2 0,-2 0,-3 -1,0 -1,-1 -2,-1l-2 0 0 15 2 0c1,0 1,-1 2,-1 0,-1 0,-2 0,-3zm-11 -16l8 0c4,0 7,1 8,2 2,1 3,4 3,7l0 5c0,3 -1,5 -2,6 -1,1 -3,2 -6,2l0 1c3,0 5,0 6,1 1,1 2,3 2,5l0 10c0,2 0,4 0,5 0,2 0,3 1,4l-8 0c0,-1 0,-2 0,-3 -1,-1 -1,-2 -1,-4l0 -2 0 -11c0,-1 0,-1 -1,-2 0,0 -1,-1 -3,-1l0 0 0 23 -7 0 0 -48z"/>
                        <path id="8" class="fil16" d="M881 836l10 0 0 6 -18 0c0,0 0,-1 0,-1 0,-1 0,-1 0,-2 0,-2 0,-5 1,-7 0,-3 1,-6 3,-9 1,-1 2,-3 3,-5 3,-5 4,-9 4,-13l0 -4c0,-1 0,-1 0,-2 -1,0 -1,0 -2,0 -1,0 -1,0 -1,0 -1,1 -1,2 -1,2l0 10 -7 0 0 -9c0,-3 1,-5 2,-7 2,-1 4,-2 7,-2 3,0 6,1 7,2 2,1 2,3 2,6l0 6c0,3 -1,8 -4,13 0,1 -1,1 -1,2 -2,4 -3,6 -4,8 -1,2 -1,4 -1,6z"/>
                    </g>
                    <g :class="outputs[255] && 'button--active'" class="effect-155" @click="toggle(155)">
                        <!-- Corridor 1 -->
                        <path class="fil20" d="M726 691l157 0c21,0 39,18 39,39l0 0c0,21 -18,39 -39,39l-157 0c-21,0 -39,-18 -39,-39l0 0c0,-21 18,-39 39,-39z"/>
                        <!-- TEXT -->
                        <path class="fil16" d="M711 711c0,-1 0,-2 0,-2 0,-1 -1,-1 -2,-1 0,0 -1,0 -1,1 0,0 -1,1 -1,2l0 32c0,1 1,2 1,2 0,0 1,1 1,1 1,0 2,-1 2,-1 0,0 0,-1 0,-2l0 -11 8 0 0 10c0,3 -1,6 -3,7 -1,2 -4,3 -7,3 -3,0 -5,-1 -6,-3 -2,-1 -3,-4 -3,-7l0 -31c0,-2 1,-5 3,-6 1,-2 3,-2 6,-2 3,0 6,0 7,2 2,1 3,4 3,6l0 10 -8 0 0 -10z"/>
                        <path id="1" class="fil16" d="M729 711l0 33c0,1 0,1 0,2 0,0 1,1 2,1 1,0 1,-1 1,-1 1,-1 1,-1 1,-2l0 -33c0,-1 0,-2 -1,-2 0,-1 0,-1 -1,-1 -1,0 -2,0 -2,1 0,0 0,1 0,2zm-8 0c0,-2 1,-5 3,-6 1,-2 4,-2 7,-2 3,0 5,0 7,2 1,1 2,4 2,6l0 31c0,3 -1,6 -2,7 -2,2 -4,3 -7,3 -3,0 -6,-1 -7,-3 -2,-1 -3,-4 -3,-7l0 -31z"/>
                        <path id="2" class="fil16" d="M755 720l0 -8c0,-1 -1,-2 -1,-2 -1,-1 -1,-1 -2,-1l-2 0 0 14 2 0c1,0 1,0 2,-1 0,0 1,-1 1,-2zm-12 -17l9 0c3,0 6,1 7,3 2,1 3,3 3,6l0 6c0,2 -1,4 -2,6 -1,1 -3,2 -5,2l0 0c2,0 4,1 5,2 1,1 2,3 2,5l0 10c0,2 0,4 0,5 0,1 1,3 1,3l-7 0c-1,0 -1,-1 -1,-2 0,-1 0,-3 0,-4l0 -2 0 -11c0,-1 -1,-2 -1,-2 -1,-1 -2,-1 -3,-1l-1 0 0 22 -7 0 0 -48z"/>
                        <path id="3" class="fil16" d="M777 720l0 -8c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1l-2 0 0 14 2 0c1,0 1,0 2,-1 0,0 0,-1 0,-2zm-11 -17l8 0c4,0 7,1 8,3 2,1 3,3 3,6l0 6c0,2 -1,4 -2,6 -1,1 -3,2 -6,2l0 0c3,0 5,1 6,2 1,1 2,3 2,5l0 10c0,2 0,4 0,5 0,1 0,3 1,3l-8 0c0,0 0,-1 0,-2 -1,-1 -1,-3 -1,-4l0 -2 0 -11c0,-1 0,-2 -1,-2 0,-1 -1,-1 -3,-1l0 0 0 22 -7 0 0 -48z"/>
                        <polygon id="4" class="fil16" points="796,751 789,751 789,703 796,703 "/>
                        <path id="5" class="fil16" d="M807 709l0 37 2 0c1,0 1,-1 2,-1 0,-1 0,-1 0,-2l0 -31c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1l-2 0zm-7 -6l8 0c4,0 7,1 8,3 2,1 2,3 2,6l0 31c0,3 0,5 -2,6 -1,2 -4,2 -8,2l-8 0 0 -48z"/>
                        <path id="6" class="fil16" d="M829 711l0 33c0,1 0,1 0,2 1,0 1,1 2,1 1,0 1,-1 2,-1 0,-1 0,-1 0,-2l0 -33c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1 -1,0 -1,0 -2,1 0,0 0,1 0,2zm-7 0c0,-2 0,-5 2,-6 2,-2 4,-2 7,-2 3,0 5,0 7,2 1,1 2,4 2,6l0 31c0,3 -1,6 -2,7 -2,2 -4,3 -7,3 -3,0 -5,-1 -7,-3 -2,-1 -2,-4 -2,-7l0 -31z"/>
                        <path id="7" class="fil16" d="M855 720l0 -8c0,-1 0,-2 -1,-2 0,-1 -1,-1 -2,-1l-1 0 0 14 1 0c1,0 2,0 2,-1 1,0 1,-1 1,-2zm-12 -17l9 0c3,0 6,1 8,3 1,1 2,3 2,6l0 6c0,2 -1,4 -2,6 -1,1 -3,2 -5,2l0 0c2,0 4,1 5,2 1,1 2,3 2,5l0 10c0,2 0,4 0,5 1,1 1,3 1,3l-7 0c-1,0 -1,-1 -1,-2 0,-1 0,-3 0,-4l0 -2 0 -11c0,-1 -1,-2 -1,-2 -1,-1 -2,-1 -3,-1l0 0 0 22 -8 0 0 -48z"/>
                        <path id="8" class="fil16" d="M883 751l0 -36 -5 0 0 -5c2,0 4,-1 5,-2 1,-1 2,-2 2,-4l0 -1 5 0 0 48 -7 0z"/>
                    </g>
                    <path class="fil16" d="M798 890c0,-1 0,-2 0,-2 -1,-1 -1,-1 -2,-1 -1,0 -1,0 -2,1 0,0 0,1 0,2l0 32c0,1 0,2 0,2 1,0 1,1 2,1 1,0 1,-1 2,-1 0,0 0,-1 0,-2l0 -11 7 0 0 10c0,3 -1,6 -2,7 -2,2 -4,3 -7,3 -3,0 -5,-1 -7,-3 -2,-1 -2,-4 -2,-7l0 -31c0,-2 0,-5 2,-6 2,-2 4,-2 7,-2 3,0 5,0 7,2 1,1 2,4 2,6l0 10 -7 0 0 -10z"/>
                    <path id="1" class="fil16" d="M815 890l0 33c0,1 0,1 1,2 0,0 1,1 1,1 1,0 2,-1 2,-1 0,-1 0,-1 0,-2l0 -33c0,-1 0,-2 0,-2 0,-1 -1,-1 -2,-1 0,0 -1,0 -1,1 -1,0 -1,1 -1,2zm-7 0c0,-2 1,-5 2,-6 2,-2 4,-2 7,-2 3,0 6,0 7,2 2,1 3,4 3,6l0 31c0,3 -1,6 -3,7 -1,2 -4,3 -7,3 -3,0 -5,-1 -7,-3 -1,-1 -2,-4 -2,-7l0 -31z"/>
                    <path id="2" class="fil16" d="M830 922l0 -40 7 0 0 40c0,1 0,2 1,2 0,0 0,1 1,1 1,0 1,-1 2,-1 0,0 0,-1 0,-2l0 -40 7 0 0 40c0,2 0,5 -2,6 -1,2 -4,3 -7,3 -3,0 -5,-1 -7,-3 -1,-1 -2,-4 -2,-6z"/>
                    <path id="3" class="fil16" d="M863 890c0,-1 0,-2 -1,-2 0,-1 -1,-1 -1,-1 -1,0 -2,0 -2,1 0,0 0,1 0,2l0 32c0,1 0,2 0,2 0,0 1,1 2,1 0,0 1,-1 1,-1 1,0 1,-1 1,-2l0 -11 7 0 0 10c0,3 -1,6 -2,7 -2,2 -4,3 -7,3 -3,0 -6,-1 -7,-3 -2,-1 -3,-4 -3,-7l0 -31c0,-2 1,-5 3,-6 1,-2 4,-2 7,-2 3,0 5,0 7,2 1,1 2,4 2,6l0 10 -7 0 0 -10z"/>
                    <polygon id="4" class="fil16" points="873,931 873,883 880,883 880,901 884,901 884,883 891,883 891,931 884,931 884,907 880,907 880,931 "/>


                    <polygon class="fil16" points="1073,931 1073,882 1089,882 1089,889 1080,889 1080,901 1089,901 1089,907 1080,907 1080,931 "/>
                    <path id="1" class="fil16" d="M1103 899l0 -8c0,-1 0,-2 0,-2 -1,-1 -2,-1 -2,-1l-2 0 0 14 2 0c0,0 1,0 2,-1 0,0 0,-1 0,-2zm-11 -17l8 0c4,0 6,1 8,3 2,1 2,3 2,6l0 6c0,2 0,4 -1,6 -1,1 -3,2 -6,2l0 0c3,0 5,1 6,2 1,1 1,3 1,5l0 10c0,2 1,4 1,5 0,2 0,3 1,4l-8 0c0,-1 0,-2 -1,-3 0,-1 0,-3 0,-4l0 -2 0 -11c0,-1 0,-2 -1,-2 0,-1 -1,-1 -3,-1l0 0 0 23 -7 0 0 -49z"/>
                    <polygon id="2" class="fil16" points="1115,931 1115,882 1131,882 1131,889 1122,889 1122,901 1130,901 1130,907 1122,907 1122,924 1131,924 1131,931 "/>
                    <polygon id="3" class="fil16" points="1134,931 1134,882 1150,882 1150,889 1141,889 1141,901 1150,901 1150,907 1141,907 1141,924 1150,924 1150,931 "/>
                    <rect class="fil21" x="278" y="441" width="124" height="150"/>
                    <path class="fil14" d="M317 351c0,-1 0,-1 0,-2 0,0 -1,0 -1,0 -1,0 -1,0 -1,0 0,1 0,1 0,2l0 21c0,0 0,1 0,1 0,0 0,1 1,1 0,0 1,-1 1,-1 0,0 0,-1 0,-1l0 -7 5 0 0 7c0,2 0,3 -2,4 -1,1 -2,2 -4,2 -2,0 -4,-1 -5,-2 -1,-1 -1,-2 -1,-4l0 -21c0,-2 0,-3 1,-4 1,-1 3,-2 5,-2 2,0 3,1 4,2 2,1 2,2 2,4l0 6 -5 0 0 -6z"/>
                    <path id="1" class="fil14" d="M329 351l0 21c0,1 0,2 0,2 0,0 0,0 1,0 0,0 1,0 1,0 0,0 0,-1 0,-2l0 -21c0,-1 0,-1 0,-1 0,-1 -1,-1 -1,-1 -1,0 -1,0 -1,1 0,0 0,0 0,1zm-5 0c0,-2 0,-3 1,-4 1,-1 3,-2 5,-2 2,0 3,1 4,2 2,1 2,2 2,4l0 21c0,2 0,3 -2,4 -1,1 -2,2 -4,2 -2,0 -4,-1 -5,-2 -1,-1 -1,-2 -1,-4l0 -21z"/>
                    <path id="2" class="fil14" d="M338 377l0 -31 7 0 2 12 0 0c0,0 0,1 0,1 0,3 0,7 0,10l1 0c0,-2 0,-4 0,-5 0,-2 0,-4 0,-6l2 -12 6 0 0 31 -4 0 0 -16 0 0c0,-1 0,-2 0,-4 0,-2 0,-4 0,-6l0 0c0,2 0,3 0,5 0,1 0,2 0,3l-3 18 -4 0c-1,-6 -1,-11 -2,-15 0,-4 0,-8 -1,-11l0 0c0,1 0,3 0,4 0,3 0,5 0,5l0 17 -4 0z"/>
                    <polygon id="3" class="fil14" points="363,377 359,377 359,346 363,346 "/>
                    <path id="4" class="fil14" d="M366 377l0 -31 7 0 2 13c0,2 0,5 1,7 0,3 0,5 0,8l1 0c0,-3 0,-5 0,-7 0,-2 0,-4 0,-4l-1 -17 4 0 0 31 -7 0 -2 -17c0,-3 -1,-5 -1,-7 0,-1 0,-2 0,-3l-1 0c1,2 1,4 1,5 0,2 0,2 0,3l0 19 -4 0z"/>
                    <path id="5" class="fil14" d="M390 351c0,-1 0,-1 0,-2 0,0 -1,0 -1,0 -1,0 -1,0 -1,0 0,1 -1,1 -1,2l0 21c0,0 1,1 1,1 0,0 0,1 1,1 0,0 1,-1 1,-1 0,0 0,-1 0,-1l0 -7 -2 0 0 -4 7 0 0 16 -3 0 0 -2 0 0c0,1 -1,1 -2,2 0,0 -1,0 -2,0 -2,0 -3,0 -4,-1 -1,-1 -1,-3 -1,-5l0 -20c0,-2 0,-3 1,-4 1,-1 3,-2 5,-2 2,0 3,1 4,2 1,1 2,2 2,4l0 6 -5 0 0 -6z"/>
                    <polygon id="6" class="fil14" points="336,427 336,396 340,396 340,407 343,407 343,396 348,396 348,427 343,427 343,412 340,412 340,427 "/>
                    <path id="7" class="fil14" d="M355 401l0 21c0,1 0,1 0,1 0,1 0,1 1,1 0,0 1,0 1,-1 0,0 0,0 0,-1l0 -21c0,-1 0,-2 0,-2 0,0 -1,0 -1,0 -1,0 -1,0 -1,0 0,0 0,1 0,2zm-5 0c0,-2 0,-4 1,-5 1,-1 3,-1 5,-1 2,0 3,0 5,1 1,1 1,3 1,5l0 20c0,2 0,3 -1,4 -2,1 -3,2 -5,2 -2,0 -4,-1 -5,-2 -1,-1 -1,-2 -1,-4l0 -20z"/>
                    <path id="8" class="fil14" d="M364 427l0 -31 7 0 2 11 0 1c0,0 0,0 0,1 0,3 0,6 0,10l1 0c0,-2 0,-4 0,-6 0,-2 0,-4 0,-5l2 -12 6 0 0 31 -4 0 0 -16 0 -1c0,0 0,-2 0,-3 0,-2 0,-4 0,-6l0 0c0,1 0,3 0,4 0,2 0,3 0,4l-2 18 -5 0c-1,-6 -1,-12 -2,-16 0,-4 0,-7 -1,-10l0 0c0,1 0,2 0,4 0,3 0,4 0,4l0 18 -4 0z"/>
                    <polygon id="9" class="fil14" points="385,427 385,396 395,396 395,400 389,400 389,408 395,408 395,412 389,412 389,423 395,423 395,427 "/>
                    <path class="fil14" d="M363 553l0 21c0,1 0,1 0,2 0,0 1,0 1,0 1,0 1,0 1,0 1,-1 1,-1 1,-2l0 -21c0,-1 0,-1 -1,-2 0,0 0,0 -1,0 0,0 -1,0 -1,0 0,1 0,1 0,2zm-5 0c0,-2 1,-3 2,-4 1,-1 2,-2 4,-2 2,0 4,1 5,2 1,1 1,2 1,4l0 20c0,2 0,4 -1,5 -1,1 -3,1 -5,1 -2,0 -3,0 -4,-1 -1,-1 -2,-3 -2,-5l0 -20z"/>
                    <polygon id="1" class="fil14" points="373,579 373,548 383,548 383,552 377,552 377,560 383,560 383,564 377,564 377,579 "/>
                    <polygon id="2" class="fil14" points="385,579 385,548 395,548 395,552 389,552 389,560 395,560 395,564 389,564 389,579 "/>
                </g>
            </g>
        </svg>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data: () => ({
        color: {
            r: 0,
            g: 0,
            b: 0
        },
        outputs: {},
        corridor: false,
        rooms: [
            {
                name: 'Wohnzimmer',
                selected: false,
                options: false,
            },
            {
                name: 'Küche',
                selected: false,
                options: false,
            },
            {
                name: 'Schlafzimmer',
                selected: false,
                options: false,
            },
            {
                name: 'Treppen',
                selected: false,
                options: false,
            },
            {
                name: 'Badezimmer',
                selected: false,
                options: false,
            },
            {
                name: 'Chillout',
                selected: false,
                options: false,
            },
            {
                name: 'Musikzimmer',
                selected: false,
                options: false,
            },
            {
                name: 'Küche',
                selected: false,
                options: false,
                status: 'on|off',
                buttons: [
                    {
                        name: 'MAIN',
                        type: 'on/off|slider|sliderrbg'
                    }
                ]
            },
            {
                name: 'Küche',
                buttons: [

                ]
            }
        ]
    }),
    async mounted() {
        document.documentElement.requestFullscreen()
        this.$mqtt.subscribe('s7/+')
        this.$mqtt.on('message', (topic, raw) => {
            const message = JSON.parse(raw.toString())
            const channel = parseInt(topic.split('/').slice(1))
            this.outputs[channel] = message
        })
        await this.readStatus()
    },
    methods: {
        setColor(color, value) {
            this.color[color] = value
            return this.setColors()
        },
        async setColors() {
            const of = amount => [...Array(amount)]
            const pixels = of(100).map(() => this.color)
            const body = {
                "size": 100,
                "frames": [
                    {
                        "duration": 1,
                        pixels,
                    }
                ]
            }
            this.$sphinx.playSound()
            return axios.post('http://192.168.255.52:8090/api/pixels', body)

        },
        async toggleTV() {
            this.$sphinx.playSound()
            await this.$axios.post(`/action/harmonyhub/67198531/PowerToggle`)
            await this.$axios.post(`/action/harmonyhub/67198598/PowerToggle`)
        },
        switchCorridorLight() {
            this.corridor = !this.corridor
            this.$sphinx.playSound()
            return axios.get(`http://192.168.255.205/config/xmlapi/statechange.cgi?ise_id=4303&new_value=${this.corridor}`)
        },
        async readStatus() {
            const outputs = await Promise.all([
                (async () => (await this.$axios.get(`/action/255`)).data)(),
                (async () => (await this.$axios.get(`/action/256`)).data)(),
                (async () => (await this.$axios.get(`/action/257`)).data)(),
            ])
            this.outputs = {
                255: outputs[0],
                256: outputs[1],
                257: outputs[2],
            }
        },
        async toggle(id) {
            this.$sphinx.playSound()
            await this.$axios.post(`/action/${id}/toggle-button`)
            return this.readStatus()
        },
        changeRoom(selectedRoom) {
            this.rooms.forEach(room => room.selected = false)
            this.rooms.forEach(room => room.options = false)
            const room = this.rooms.find(room => room.name == selectedRoom)
            room.selected = !room.selected
            this.$sphinx.playSound()
        },
        options(selectedRoom) {
            this.rooms.forEach(room => room.options = false)
            this.rooms.forEach(room => room.selected = false)
            const room = this.rooms.find(room => room.name == selectedRoom)
            room.options = !room.options
            this.$sphinx.playSound()
        }
    }
}
</script>


<style>
    body, html {
        height: 100%;
        background-color: black;
        overflow: hidden
    }
    svg {
        /* padding: 1em; */
        /* width: 100%;
        height: 100%; */
    }
    rect {
        transition: .25s ease all;
    }
    .str0 {stroke:#2E2E2D;stroke-width:7.99843}
    .str3 {stroke:#E4A84F;stroke-width:7.99843}
    .str2 {stroke:#9FC0DF;stroke-width:7.99843}
    .str1 {stroke:#ECE7BF;stroke-width:7.99843}
    .str4 {stroke:#FF9900;stroke-width:7.99843}
    .fil0 {fill:black} .bg0 {background-color:black}
    .fil1 {fill:#2E2E2D} .bg1 {background-color:#2E2E2D}
    .fil2 {fill:#D8A570} .bg2 {background-color:#D8A570}
    .fil3 {fill:#FFA929} .bg3 {background-color:#FFA929}
    .fil4 {fill:#C32328} .bg4 {background-color:#C32328}
    .fil5 {fill:#FEFEFE} .bg5 {background-color:#FEFEFE}
    .fil6 {fill:#32964D} .bg6 {background-color:#32964D}
    .fil7 {fill:#FFF389} .bg7 {background-color:#FFF389}
    .fil8 {fill:#008CCF} .bg8 {background-color:#008CCF}
    .fil9 {fill:#D37C7C} .bg9 {background-color:#D37C7C}
    .fil10 {fill:#F1C315} .bg10 {background-color:#F1C315}
    .fil11 {fill:#9FC0DF} .bg11 {background-color:#9FC0DF}
    .fil12 {fill:#CC99CC} .bg12 {background-color:#CC99CC}
    .fil13 {fill:#76A495} .bg13 {background-color:#76A495}
    .fil14 {fill:#2E2E2D} .bg14 {background-color:#2E2E2D}
    .fil15 {fill:#FFA929} .bg15 {background-color:#FFA929}
    .fil16 {fill:#2E2E2D} .bg16 {background-color:#2E2E2D}
    .fil17 {fill:#ECE7BF} .bg17 {background-color:#ECE7BF}
    .fil18 {fill:none} .bg18 {background-color:none}
    .fil19 {fill:#FF9900} .bg19 {background-color:#FF9900}
    .fil20 {fill:#F8CF67} .bg20 {background-color:#F8CF67}
    .fil21 {fill:#C32328} .bg21 {background-color:#C32328}
    .active {
        fill: #FF9900;
    }
    .active-options {
        fill: #CC99CC;
    }

    .button--active .fil20 {
        fill: #FF9900
    }
</style>
