<template>
    <button class="state-button bg10" v-on="$listeners">
        <div class="bg-black text text-6xl ml-8 text-white flex flex-col justify-center leading-none px-1">
            <slot name="short" />
        </div>
        <div class="py-3 pl-4">
            <slot />
        </div>
    </button>
</template>

<script>
export default {
}
</script>

<style lang="stylus">
.l-button
    @apply text-right px-1 flex flex-col justify-end items-end uppercase
    transition .5s all ease

.p-button
    @apply px-4 py-3 rounded-full
.state-button
    @apply text-3xl px-1 w-full rounded-full flex flex-row items-stretch
    &:focus
        outline none
</style>
