<template>
    <div>
        <table class="text-2xl flex">
            <tbody class="mx-4">
                <tr v-for="temperature in temperatures" :key="temperature.measurement" class="text-yellow-dark">
                    <td>{{ temperature.label }}</td>
                    <td :class="levelMap(temperature.value)">{{ temperature.value }} C°</td>
                </tr>
            </tbody>
            <tbody class="mx-4">
                <tr v-for="temperature in setTemperatures" :key="temperature.measurement" class="text-yellow-dark">
                    <td>{{ temperature.label }}</td>
                    <td :class="levelMap(temperature.value)">{{ temperature.value }} C°</td>
                </tr>
            </tbody>
            <tbody>
                <tr v-for="mode in modes" :key="mode.measurement" class="text-yellow-dark">
                    <td>{{ mode.label }}</td>
                    <td class="text-red">{{ transformModeValue(mode.value) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import axios from 'axios'
import * as R from 'ramda'

const influxdb = axios.create({
    baseURL: 'http://sphinx:8086'
})

const queryInfluxDb = async q => (await influxdb.get('query', {
    params: {
        q,
        db: 'sphinx'
    }
})).data

const getLastValue = measurement => queryInfluxDb(`SELECT value FROM ${measurement} ORDER BY time DESC LIMIT 1`)

const measurements = [
    { type: 'temperature', measurement: 'homematic_3464', label: 'Arbeitszimmer', value: 'NA' },
    { type: 'temperature', measurement: 'homematic_2983', label: 'Schlafzimmer', value: 'NA' },
    { type: 'temperature', measurement: 'homematic_1433', label: 'Chillout', value: 'NA' },
    { type: 'temperature', measurement: 'homematic_4122', label: 'Wohnzimmer', value: 'NA' },
    { type: 'temperature', measurement: 'homematic_3402', label: 'Kino', value: 'NA' },
    { type: 'temperature', measurement: 'homematic_1839', label: 'Bad', value: 'NA' },
    { type: 'temperature', measurement: 'homematic_4069', label: 'Spielzimmer Thermostat', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_2908', label: 'Set Arbeitszimmer', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_3024', label: 'Set Schlafzimmer', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_1474', label: 'Set Chillout', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_4135', label: 'Set Wohnzimmer', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_4467', label: 'Set Kino', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_1880', label: 'Set Bad', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_4087', label: 'Set Spielzimmer Thermostat', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_3423', label: 'Set Kino Thermostat', value: 'NA' },
    { type: 'setTemperature', measurement: 'homematic_3485', label: 'Set Arbeitszimmer Thermostat', value: 'NA' },
    { type: 'mode', measurement: 'homematic_2873', label: 'Mode Arbeitszimmer', value: 'NA' },
    { type: 'mode', measurement: 'homematic_2989', label: 'Mode Schlafzimmer', value: 'NA' },
    { type: 'mode', measurement: 'homematic_1439', label: 'Mode Chillout', value: 'NA' },
    { type: 'mode', measurement: 'homematic_4139', label: 'Mode Wohnzimmer Thermostat', value: 'NA' },
    { type: 'mode', measurement: 'homematic_4432', label: 'Mode Kino', value: 'NA' },
    { type: 'mode', measurement: 'homematic_1845', label: 'Mode Bad', value: 'NA' },
    { type: 'mode', measurement: 'homematic_3409', label: 'Mode Kino Thermostat', value: 'NA' },
    { type: 'mode', measurement: 'homematic_4086', label: 'Mode Spielzimmer Thermostat', value: 'NA' },
    { type: 'mode', measurement: 'homematic_3471', label: 'Mode Arbeitszimmer Thermostat', value: 'NA' },
]

const transformInfluxValue = R.pipe(
    R.path(['results', 0, 'series', 0]),
    t => ({
        ...R.find(R.propEq('measurement', t.name), measurements),
        value: t.values[0][1],
    })
)

const transformModeValue = R.cond([
    [R.equals('0'), () => 'AUTO'],
    [R.equals(1), () => 'MANU'],
])

const levelMap = R.curry((map, level) => map[Object.keys(map).reduce(
    (selection, current) => level >= current
        ? current
        : selection
)])

const temperatureMap = {
    15: 'text-blue-dark',
    18: 'text-blue',
    20: 'text-green-light',
    22: 'text-green',
    // 23: 'text-yellow-light',
    // 25: 'text-yellow-dark',
    23: 'text-red-light',
}

export default {
    data: () => ({
        measurements,
        transformModeValue,
        levelMap: levelMap(temperatureMap)
    }),
    computed: {
        modes() {
            return R.filter(R.propEq('type', 'mode'), this.measurements)
        },
        temperatures() {
            return R.filter(R.propEq('type', 'temperature'), this.measurements)
        },
        setTemperatures() {
            return R.filter(R.propEq('type', 'setTemperature'), this.measurements)
        },
    },
    async mounted() {
        await this.getData()
        setInterval(() => this.getData, 10000)
    },
    methods: {
        async getData() {
            const newMeasurements = await Promise.all(R.pipe(
                R.map(R.prop('measurement')),
                R.map(getLastValue)
            )(measurements))
            this.measurements = R.map(transformInfluxValue, newMeasurements)
        }
    }
}
</script>

<style>

</style>
