<template>
    <div>
        <div class="flex flex-wrap justify-between">
            <div v-for="(button,i) in buttons()" :key="i" class="w-full md:w-1/3 px-2 pb-2">
                <StateButton :class="{ 'button--active': button.status }" @click="button.action">
                    {{ button.name }}
                    <template slot="short">0{{ i + 1 }}</template>
                </StateButton>
            </div>
        </div>
    </div>
</template>

<script>
import StateButton from '../StateButton'
export default {
    components: { StateButton },
    data: () => ({
        corridor: false,
    }),
    methods: {
        buttons() {
            return [162,163,164,165,166,167,168,169,170,171,172,173].map(a => ({
                    name: a,
                    action: () => { this.$sphinx.toggle(a) },
            }))
        }
    }
}
</script>
