<template>
    <div>
        <div class="flex flex-wrap justify-between">
            <div v-for="(button,i) in buttons()" :key="i" class="w-full lg:w-1/3 px-2 pb-2">
                <StateButton :class="{ 'button--active': button.status }" @click="button.action">
                    {{ button.name }}
                    <template slot="short">0{{ i + 1 }}</template>
                </StateButton>
            </div>
        </div>
    </div>
</template>

<script>
import StateButton from '../StateButton'
export default {
    components: { StateButton },
    data: () => ({
        corridor: false,
    }),
    methods: {
        buttons() {
            return [
                {
                    name: 'Corridor 1 (155)',
                    action: () => {
                        this.$sphinx.toggle(155)
                        this.$sphinx.playSound()
                    },
                    status: this.$sphinx.outputs[255],
                },
                {
                    name: 'Corridor 2 (156)',
                    action: () => {
                        this.$sphinx.toggle(156)
                        this.$sphinx.playSound()
                    },
                    status: this.$sphinx.outputs[256],
                },
                {
                    name: 'Board (157)',
                    action: () => {
                        this.$sphinx.toggle(157)
                        this.$sphinx.playSound()
                    },
                    status: this.$sphinx.outputs[257],
                },
                {
                    name: 'HiFi',
                    action: () => {
                        this.$sphinx.playSound()
                        this.$axios.post(`/action/harmonyhub/67198531/PowerToggle`)
                        this.$axios.post(`/action/harmonyhub/67198598/PowerToggle`)
                    },
                },
                {
                    name: 'Stairs',
                    action: () => {
                        this.$sphinx.playSound()
                        this.corridor = !this.corridor
                        return this.$axios.get(`http://192.168.255.205/config/xmlapi/statechange.cgi?ise_id=4303&new_value=${this.corridor}`)
                    },
                },
                {
                    name: '158',
                    action: () => { this.$sphinx.toggle(158) },
                },
                {
                    name: '159',
                    action: () => { this.$sphinx.toggle(159) },
                },
                {
                    name: '160',
                    action: () => { this.$sphinx.toggle(160) },
                },
                {
                    name: '161',
                    action: () => { this.$sphinx.toggle(161) },
                },
            ]
        }
    }
}
</script>
